/* ADD CONNECTION BTN */
@import "../../styles/variables";

.small-information-buttons {
  position: absolute;
  //flex-direction: row;
  //width: max-content;
  //justify-content: space-between;
  .ssh-btn {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    margin-top: 71px;
    padding: 0;
    margin-left: 17px;
    color: #28794E;
    border: none;
    text-transform: none;
  }

  .ssh-btn:hover {
    color: #5BC470;
    transition: .2s;
  }

  #configure-manually-btn {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    margin-top: 71px;
    padding: 0;
    margin-left: 46px;
    color: #28794E;
  }

  #configure-manually-btn:hover {
    color: #5BC470;
    transition: .2s;
  }

  #simplified-connection-btn {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    margin-top: 71px;
    padding: 0;
    margin-left: 46px;
    color: #28794E;
  }

  #simplified-connection-btn:hover {
    color: #5BC470;
    transition: .2s;
  }
}

/* ADD CONNECTION SMALL-INPUTS */
.small-information-field {
  display: flex;
  flex-direction: column;
  margin-left: 46px;




  .small-input-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
    margin-bottom: 12px;


    color: #000000;
  }






  .small-form-control {
    height: 52px;
    width: 569px;


    background: #FFFFFF;
    border: 2px solid #D8DFEA;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 22px;



    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

  }

  .small-form-control:hover {
    background: #FFFFFF;
    border: 3px solid #8EB6F4;
    border-radius: 4px;
  }
}

.scroll-body {
  overflow-y: scroll;
  max-height: 480px;
}

.error-message-modal {
  padding-left: 48px;
  padding-top: 20px;
}

/* ADD CONNECTION BIG-INPUTS */
.big-input-modal {
  margin-left: 46px;

  .ssh-box-line {
    height: 1px;
    width: 758px;
    margin-top: 20px;
    background: #E2DFE3;
  }

  /* BIG-INPUTS BODY */
  .big-input-modal-body {
    display: flex;

    /* BIG-INPUTS INPUTS-DIV */
    .big-information-field {
      display: flex;
      flex-direction: column;
    }

    /* BIG-INPUTS TITLES */
    .big-input-title {
      display: flex;
      height: 21px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin-top: 25px;
      margin-bottom: 12px;
      color: #000000;
    }

    /* BIG-INPUTS FIELDS */
    .big-form-control {
      height: 52px;
      width: 362px;
      background: #FFFFFF;
      border: 2px solid #D8DFEA;
      box-sizing: border-box;
      border-radius: 4px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
      padding-left: 22px;

    }

    .big-form-control::placeholder {
      color: rgba(92, 93, 111, 0.6);;
    }

    .big-form-control:hover {
      border: 3px solid #8EB6F4;
      padding-left: 21px;
    }

    /* BODY FIRST COLUMN */
    .big-input-first-column {
      display: flex;
      flex-direction: column;
      margin-right: 34px;
    }

    /* BODY SECOND COLUMN */
    .big-input-second-column {
      display: flex;
      flex-direction: column;
    }

  }

  .ssh-input-buttons {


    /* FOOTER SIMPLIFIED CONNECTION BUTTON */
    #simplified-connection-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 35px;
      margin-left: 20px;
    }

    #simplified-connection-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    #configure-manually-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 35px;
    }

    #configure-manually-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    //.ssh-btn {
    //  font-family: Roboto, sans-serif;
    //  font-style: normal;
    //  font-weight: 500;
    //  font-size: 18px;
    //  line-height: 21px;
    //  background-color: transparent;
    //  margin-top: 49px;
    //  padding: 0;
    //  margin-left: 17px;
    //  color: #28794E;
    //  border: none;
    //  text-transform: none;
    //}
  }

  .big-input-buttons {
    position: absolute;

    /* FOOTER SIMPLIFIED CONNECTION BUTTON */
    #simplified-connection-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 49px;
    }

    #simplified-connection-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    .ssh-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      background-color: transparent;
      margin-top: 49px;
      padding: 0;
      margin-left: 17px;
      color: #28794E;
      border: none;
      text-transform: none;
    }

    .ssh-btn:hover {
      color: #5BC470;
      transition: .2s;
    }
  }
}





/* ADD CONNECTION SSH POPUP */

.ssh-input-modal {

  .ssh-input-modal-body {
    padding-left: 45px;
    padding-right: 45px;
    height: 450px;
    overflow: auto;



    .ssh-input-title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: #3E3E3E;
      margin-bottom: 12px;
    }

    .ssh-input-title-and-hint {
      display: flex;
      align-items: center;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: #3E3E3E;
      margin-bottom: 12px;

    }

    .ssh-information-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 19px;
    }

    .ssh-form-control {
      height: 52px;
      width: 362px;

      background: #FFFFFF;
      border: 2px solid #D8DFEA;
      box-sizing: border-box;
      border-radius: 4px;
      padding-left: 21px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: #000000;

    }


    .ssh-form-control-file {
      height: 52px;
      width: 362px;

      background: #FFFFFF;
      border: 2px solid #D8DFEA;
      box-sizing: border-box;
      border-radius: 4px;
      padding-top: 11px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
    }


    .ssh-form-control-file::-webkit-file-upload-button {
      visibility: hidden;
      width: 20px;
    }



    .ssh-form-control::placeholder {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: rgba(92, 93, 111, 0.6);

    }


    .ssh-body-first-block {
      display: flex;


      .ssh-body-first-block-left-column {
        margin-right: 34px;
      }

      .ssh-body-first-block-right-column {

        .ssh-choose-db-field {
          display: flex;
          flex-direction: column;


          .ssh-choose-db-title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;

            color: #3E3E3E;
            margin-bottom: 12px;
          }


          .selector {
            height: 52px;
            width: 362px;
            background: #FFFFFF;
            border: 2px solid #D8DFEA;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 21px;
          }
        }
      }
    }


    .ssh-block-line {
      height: 1px;
      width: 100%;
      background: #E2DFE3;
      margin-top: 25px;
      margin-bottom: 25px;
    }



    .ssh-body-second-block {
      display: flex;


      .ssh-body-second-block-left-column {
        margin-right: 34px;
      }

      .ssh-body-second-block-right-column {

      }
    }
  }


  .ssh-input-modal-buttons {
    position: absolute;
    margin-left: 45px;

    #configure-manually-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 35px;
    }

    #simplified-connection-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 35px;
      margin-left: 20px;
    }


    #configure-manually-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    #simplified-connection-btn:hover {
      color: #5BC470;
      transition: .2s;
    }
  }


}





















/* ADD CONNECTION BIG-INPUTS */
.big-input-modal {
  margin-left: 46px;

  .ssh-box-line {
    height: 1px;
    width: 758px;
    background: #E2DFE3;
  }

  /* BIG-INPUTS BODY */
  .big-input-modal-body {
    display: flex;

    /* BIG-INPUTS INPUTS-DIV */
    .big-information-field {
      display: flex;
      flex-direction: column;
    }

    /* BIG-INPUTS TITLES */
    .big-input-title {
      display: flex;
      height: 21px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin-top: 25px;
      margin-bottom: 12px;
      color: #000000;
    }

    /* BIG-INPUTS FIELDS */
    .big-form-control {
      height: 52px;
      width: 362px;
      background: #FFFFFF;
      border: 2px solid #D8DFEA;
      box-sizing: border-box;
      border-radius: 4px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
      padding-left: 22px;

    }

    .big-form-control::placeholder {
      color: rgba(92, 93, 111, 0.6);;
    }

    .big-form-control:hover {
      border: 3px solid #8EB6F4;
      padding-left: 21px;
    }

    /* BODY FIRST COLUMN */
    .big-input-first-column {
      display: flex;
      flex-direction: column;
      margin-right: 34px;
    }

    /* BODY SECOND COLUMN */
    .big-input-second-column {
      display: flex;
      flex-direction: column;
    }

  }

  .ssh-input-buttons {


    /* FOOTER SIMPLIFIED CONNECTION BUTTON */
    #simplified-connection-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 35px;
      margin-left: 20px;
    }

    #simplified-connection-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    #configure-manually-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 35px;
    }

    #configure-manually-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    //.ssh-btn {
    //  font-family: Roboto, sans-serif;
    //  font-style: normal;
    //  font-weight: 500;
    //  font-size: 18px;
    //  line-height: 21px;
    //  background-color: transparent;
    //  margin-top: 49px;
    //  padding: 0;
    //  margin-left: 17px;
    //  color: #28794E;
    //  border: none;
    //  text-transform: none;
    //}
  }

  .big-input-buttons {
    position: absolute;

    /* FOOTER SIMPLIFIED CONNECTION BUTTON */
    #simplified-connection-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: #28794E;
      background-color: #FFFFFF;
      padding: 0;
      margin-top: 49px;
    }

    #simplified-connection-btn:hover {
      color: #5BC470;
      transition: .2s;
    }

    .ssh-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      background-color: transparent;
      margin-top: 49px;
      padding: 0;
      margin-left: 17px;
      color: #28794E;
      border: none;
      text-transform: none;
    }

    .ssh-btn:hover {
      color: #5BC470;
      transition: .2s;
    }
  }
}
























.information-field {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  .input-title {
    display: flex;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
    color: #000000;


    width: max-content;
  }

  .form-control {
    width: 569px;
    height: 52px;
    background: #FFFFFF;
    border: 2px solid #D8DFEA;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 25px;


    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 22px;

    color: #000000;
  }


  .form-control:hover {
    background: #FFFFFF;
    border: 3px solid #8EB6F4;
    border-radius: 4px;
  }

  #schema-tip {
    width: 24px;

    margin-bottom: 5px;
    margin-left: 5px;
  }


  /* HELP TIP */
  .help-tip {
    width: 24px;
    height: 24px;

    font-size: 14px;
    text-align: center;
    line-height: 26px;
    cursor: default;

    background-color: #2d9d73;
    border-radius: 50%;

  }

  .help-tip:before {
    content: '?';

    font-weight: bold;

    color: $white;
  }

  .help-tip:hover p {
    display: block;
    z-index: 999;
    position: sticky;
    margin-top: 15px;

    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  }


  /* The tooltip */
  .help-tip p {
    display: none;
    position: absolute;

    width: 300px;

    padding: 20px;
    right: 210px;

    text-align: left;
    font-size: 13px;
    line-height: 1.4;

    background-color: #1E2021;
    color: $white;

    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .help-tip p:before { /* The pointer of the tooltip */
    position: absolute;
    content: '';

    width: 0;
    height: 0;

    right: 282px;
    top: -12px;

    border: 6px solid transparent;
    border-bottom-color: #1E2021;
  }

  .help-tip p:after { /* Prevents the tooltip from being hidden */
    content: '';
    position: absolute;

    width: 100%;
    height: 40px;

    top: -40px;
    left: 0;
  }


  /* CSS animation */
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      transform: scale(0.6);
    }

    100% {
      opacity:100%;
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
  }
}


/* CHOOSE DB */
.choose-db-field {
  display: flex;
  flex-direction: column;

  #choose-db-title {
    height: 21px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
    margin-bottom: 12px;
    color: #000000;
  }

  .selector {
    height: 52px;
    width: 362px;
    background: #FFFFFF;
    border: 2px solid #D8DFEA;
    box-sizing: border-box;
    border-radius: 4px;
  }
}











/* ------------------------------------------------- CONNECTIONS PAGE ----------------------------------------------- */
.connections-page {

  /* ----------------------------------------------------- HEADER --------------------------------------------------- */
  .connections-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    width: 100vw;
    background: #FFFFFF;



    /* HEADER PAGE NAME */
    .connections-page-name {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;

      color: #3E3E3E;
      margin-left: 49px;
    }



    /* ADD DATABASE BUTTON */
    .add-database-button {
      height: 42px;
      min-width: 194px;
      background: #28794E;
      border-radius: 4px;
      border: none;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      letter-spacing: -0.11px;

      color: #FFFFFF;
      margin-right: 34px;
    }


    .add-database-button:hover {
      background: #5BC470;
      transition: .2s;
    }
  }






  /* --------------------------------------------- EMPTY CONNECTIONS PAGE ------------------------------------------- */
  .empty-connections-page {
    display: flex;
    justify-content: center;

    height: calc(100vh - 153px);
    width: 100vw;
    background-color: #F8F8FA;



    /* EMPTY CONNECTIONS PAGE INFORMATION */
    .empty-connections-page-block {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 407px;



      /* EMPTY CONNECTIONS PAGE IMG */
      img {
        margin: 0 auto 49px;
      }



      /* EMPTY CONNECTIONS PAGE TEXT */
      span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;

        text-align: center;

        color: #5C5D6F;
        width: 280px;
        margin-left: 92px;
        margin-bottom: 20px;
      }



      /* EMPTY CONNECTIONS PAGE ADD BUTTON */
      button {
        min-height: 42px;
        width: 194px;

        background-color: #F8F8FA;

        border: 1px solid #B7B4B7;
        filter: drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.0535402));
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        letter-spacing: -0.11px;

        color: #5C5D6F;
        margin-left: 131px;
      }
    }
  }



  /* --------------------------------------------- FILLED CONNECTIONS PAGE ------------------------------------------ */
  .filled-connections-page {
    height: calc(100vh - 153px);
    width: 100vw;
    background-color: #F8F8FA;


    /* ---------------------------------------------------- FILTERS ------------------------------------------------- */
    .connections-page-filters {
      display: flex;

      height: 45px;
      width: 100vw;

      background-color: #F8F8FA;




      /* FILTERS COMMON TITLE CSS */
      .connections-page-filters-title {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;

        color: #5C5D6F;
      }



      /* FILTERS COMMON SEARCH CSS */
      .connections-page-filters-search {
        height: 29px;
        width: 100px;

        background: #FFFFFF;
        border: 1px solid #E2DFE3;
        border-radius: 6px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #7A7D85;

        padding-left: 11.89px;
        margin-left: 23.7px;
      }





      /* FILTER NAME */
      .connections-page-filter-NAME {
        display: flex;
        align-items: center;
        width: 546px;
        height: 45px;
        text-align: left;
        border-right: 1px solid #E2DFE3;
        border-bottom: 1px solid #E2DFE3;

        span {
          margin-left: 126px;
        }
      }



      /* FILTER SCHEMA NAME */
      .connections-page-filter-SCHEMA-NAME {
        display: flex;
        align-items: center;
        width: 398px;
        height: 45px;
        border-right: 1px solid #E2DFE3;
        border-bottom: 1px solid #E2DFE3;


        span {
          margin-left: 29.52px;
        }
      }


      /* FILTER DATE CREATED */
      .connections-page-filter-DATE-CREATED {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        width: calc(100vw - 944px);
        border-bottom: 1px solid #E2DFE3;



        /* FILTER DATE CREATED (TITLE, ARROW, SEARCH) */
        .DATE-CREATED-search-div {
          display: flex;
          align-items: center;
          height: 45px;


          span {
            margin-left: 102px;
          }
        }




        /* FILTER DATE CREATED (FILTER ICON) */
        .DATE-CREATED-filter-div {
          display: flex;
          align-items: center;
          height: 45px;


          .connections-page-filters-filter-icon {
            margin-right: 33px;
          }


          .connections-page-filters-filter-icon:hover {
            cursor: pointer;
          }
        }
      }
    }



    .connections-page-filters-arrow:hover {
      cursor: pointer;
    }

    .connections-page-filters-arrow-down:hover {
      cursor: pointer;
    }

    .connections-page-filters-arrow-down {
      cursor: pointer;
      transform: rotate(180deg);
    }


    /* ---------------------------------------------------- DATABASE ------------------------------------------------ */
    .connections-page-databases-block {
      width: 100vw;
      height: calc(100vh - 253px);
      overflow: auto;
    }


    /* ALL DATABASES */
    .connections-page-all-databases {
      box-shadow: 0 1px 5px #E2DFE3;



      /* DATABASE */
      .database {
        display: flex;
        height: 60px;
        background-color: #FFFFFF;

        border-bottom: 1px solid #E2DFE3;



        /* DATABASE COMMON TEXT CSS */
        .database-text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;

          color: #25213B;
        }


        /* DATABASE ICON */
        .database-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 126px;
          height: 60px;


          svg {
            width: 24px;
            height: 24px;
            fill: #5C5D6F;
          }
        }



        /* DATABASE NAME */
        .database-name {
          display: flex;
          align-items: center;
          width: 420px;
          height: 60px;
          text-align: left;
          padding-right: 40px;
        }



        /* DATABASE SCHEMA NAME */
        .database-schema-name {
          display: flex;
          align-items: center;
          width: 398px;
          height: 60px;
          text-align: left;
          padding-left: 29.52px;
          padding-right: 29.52px;
        }


        /* DATABASE DATE CREATED */
        .database-date-created {
          display: flex;
          align-items: center;
          width: calc(100vw - 984px);
          height: 60px;
          text-align: left;
          padding-left: 102px;
          padding-right: 102px;
        }


        .database-mini-menu {
          width: 20px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;


          svg {
            height: 20px;
            width: 5px;
          }
        }
      }




      /* ------------------------------------------------ DATABASE HOVER -------------------------------------------- */
      .database:hover {
        cursor: pointer;


        background: #F8F8FA;



        /* DATABASES COMMON TEXT CSS HOVER */
        .database-text {
          color: #2A7C50;
          font-weight: 500;
        }



        /* DATABASE ICON HOVER */
        .database-icon {

          svg {
            fill: #2A7C50;
          }
        }
      }
    }



    /* ----------------------------------------- FILLED CONNECTIONS PAGE FOOTER ------------------------------------- */
    .connections-page-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 55px;
      width: 100vw;
      background-color: #FFFFFF;
      border-top: 1px solid #E2DFE3;



      /* FOOTER COMMON TEXT CSS */
      .connections-page-footer-text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        letter-spacing: 0.05em;

        color: #6E6893;

      }



      /* NUMBER OF DATABASES PER PAGE */
      .databases-on-page {

        span {
          margin-right: 11px;
        }
      }


      /* NUMBER OF DATABASES */
      .databases-amount {

        margin-left: 50px;
        margin-right: 58px;
      }



      /* DATABASE PAGES */
      .database-pages {

        .database-pages-arrow-left {
          margin-right: 50px;
        }

        .database-pages-arrow-right {
          margin-right: 50px;
        }
      }
    }
  }
}



























/* ALL CONNECTION PAGE */
/*.connections-page {
  display: flex;
  flex-direction: column;

  padding: 0 !important;
  margin: 0 !important;




  .menu {
    height: 73px;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;


    background: #FFFFFF;


    .conn-page-name {
      margin-left: 49px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;



      color: #3E3E3E;
    }


    #add-button {
      min-width: 194px;
      height: 42px;
      margin-right: 34px;

      background: #28794E;
      border-radius: 4px;
      border: none;


      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      letter-spacing: -0.11px;

      color: #FFFFFF;
    }



    .search {
      width: 0;
      height: 30px;

      border: .4px solid $border-color;
      border-radius: 5px;

      font-size: 14px;

      margin-left: 10px;
      margin-right: 15px;
      padding-left: 10px;
    }
  }



  .connections-page-filters {
    display: flex;
    align-items: center;
    height: 45px;
    background: #F8F8FA;
    padding: 0;
    width: 100vw;




    .conn-page-name-filter {
      display: flex;
      align-items: center;
      width: 546px;
    }

    .conn-page-name-filter span {
      margin-left: 126px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;

      color: #5C5D6F;
    }

    .conn-filters-name-arrow {
      margin-left: 8px;
      width: 8px;
      height: 6px;
      margin-right: 23px;
    }


    .conn-page-filters-input{
      width: 99.85px;
      height: 29px;
      background: #FFFFFF;
      border: 1px solid #E2DFE3;
      border-radius: 6px;
      padding-left: 11.89px;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: #7A7D85;
    }




    .mini-lines-menu {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 22px;



      .mini-menu-lines-style {
        height: 2.5px;
        background: #A7A9AC;
        border-radius: 30px;
        margin: 0 auto 1.53px;
      }

      .mini-first-line {
        width: 13.98px;
      }

      .mini-second-line {
        width: 9.16px;
      }

      .mini-third-line {
        width: 4.34px;
      }
    }

    .mini-lines-menu:hover {
      cursor: pointer;

      .mini-first-line {
        background-color: black;
        transition: .2s;
      }

      .mini-second-line {
        background-color: black;
        transition: .2s;
      }

      .mini-third-line {
        background-color: black;
        transition: .2s;
      }
    }




    .conn-page-filters-line {
      width: 1px;
      height: 45px;
      background-color: #E2DFE3;;
    }


    .conn-page-schema-name-filter {
      display: flex;
      align-items: center;
      width: 398px;
    }

    .conn-page-schema-name-filter span {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      margin-left: 29.52px;
      margin-right: 8px;

      color: #5C5D6F;
    }

    .conn-page-schema-name-filter img {
      margin-right: 20px;
    }




    .conn-page-date-filter {
      display: flex;
      align-items: center;
    }


    .conn-page-date-filter span {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      margin-left: 102px;
      margin-right: 8px;

      color: #5C5D6F;

    }

    .conn-page-date-filter img {
      margin-right: 12.49px;
    }

    .conn-page-date-filter input {
      margin-right: 21.69px;
    }

  }


  .conn-filters-bottom-line {
    height: 1px;
    background: #E2DFE3;
    width: 100vw;
  }








  .folders {
    grid-area: folders;
    width: 100vw;
    height: calc(100vh - 255px);
    background-color: #F8F8FA;



    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    .white-row {
      background-color: white;
    }

    .white-row:hover {
      background-color: #F8F8FA;


      #folders-n {
        font-weight: 500;
        color: #2A7C50;
      }


      #folders-schema-n{
        font-weight: 500;
        color: #2A7C50;
      }

      #folders-date {
        font-weight: 500;
        color: #2A7C50;
      }

    }

    .empty-connection-page {

    }



    .all-folders {
      box-shadow: 0px 1px 5px #E2DFE3;
    }
    .connection-folder {
      transition: 0.2s;


      .link-container {
        display: flex;
        align-items: center;

        border-bottom: 1px solid #E2DFE3;

        height: 61px;


        .folders-name {
          display: flex;
          align-items: center;
          width: 546px;

          #database-icon {
            width: 16px;
            height: 17.28px;
            margin-left: 43px;
            margin-right: 67px;
          }



          .link {
            display: flex;
            font-size: 14px;

            #wifi-icon {
              width: 20px;
              height: 20px;
              margin-left: 5px;
            }

            .network-tip:hover .tip-info {
              display: block;
              z-index: 999;

              transform-origin: 100% 0%;
              -webkit-animation: fadeIn 0.3s ease-in-out;
              animation: fadeIn 0.3s ease-in-out;
            }



            .network-tip .tip-info {
              display: none;
              position: absolute;

              padding: 8px;

              text-align: left;
              font-size: 13px;
              line-height: 1.4;

              background-color: #1E2021;
              color: $white;

              transform: translateX(35px) translateY(-29px);

              border-radius: 3px;
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            }

            .network-tip .tip-info:before {
              position: absolute;
              content: '';

              width: 0;
              height: 0;

              left: -14px;
              top: 9px;

              border: 8px solid transparent;
              border-right-color: #1E2021;
            }

            .network-tip .tip-info:after {
              content: '';
              position: absolute;

              width: 100%;
              height: 40px;

              top: -40px;
              left: 0;
            }
          }
        }

        .functional {
          display: flex;
          align-items: center;

          #time {
            margin-right: 10px;

            font-size: 14px;

            color: #8D8D8D;
          }

          #pin-icon {
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }

          #delete-icon {
            width: 20px;
            height: 20px;
          }
        }
      }

      .link-container:hover {
        cursor: pointer;
        border: 4px solid #CFDCEC;

        #database-icon {
          margin-left: 39px;
          margin-right: 67px;
        }

        #folders-schema-n {
          margin-left: 25.52px;
        }


        #folders-date {
          margin-left: 100px;
        }

      }
    }


    #folders-n {
      margin-bottom: 0;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;


      color: #25213B;
    }


    .folders-schema-name {
      display: flex;
      align-items: center;
      width: 398px;
    }


    #folders-schema-n {
      margin-bottom: 0;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-left: 29.52px;


      color: #25213B;
    }

    .folders-date-created {

    }

    #folders-date {
      margin-bottom: 0;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      color: #25213B;

      margin-left: 104px;
    }

  }
}
*/


.license-key-text {
  margin-top: 9px;
  margin-bottom: 20px;

}

.free-trial-text {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.free-trial-btn {
  display: block;
  margin: 20px auto 0 ;
  border-radius: 5px;
  background-color: #EB6E3B;
  border: none;
  font-size: 15px;
  color: white;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.free-trial-btn:hover {
  background-color: #3D3D3D;
  transition: .3s;
}

#license-key-btn {
  display: block;
  margin: 0 auto 25px;
  padding: 0;
  font-size: 13px;
  text-transform: initial;
  color: #6D6D6D;
  font-weight: 500;

  border: 0;
  border-bottom: 1px solid #6D6D6D;
  border-radius: 0;
}

#license-key-btn:hover {
  color: #EB6E3B;
  border-bottom: 1px solid #EB6E3B;
  transition: .1s;
}

#free-trial-btn {
    display: block;
    margin: 5px auto 0;
    padding: 0;
    font-size: 13px;
    text-transform: initial;
    color: #6D6D6D;
    font-weight: 500;

    border: 0;
    border-bottom: 1px solid #6D6D6D;
    border-radius: 0;
}


#free-trial-btn:hover {
  color: #EB6E3B;
  border-bottom: 1px solid #EB6E3B;
  transition: .1s;
}



.conn-page-footer {
  height: 55px;
  width: 100vw;



  .conn-page-info {
    height: 55px;
    width: 417px;
    margin-left: auto;
    display: flex;
    align-items: center;

  }

  .conn-show-number span {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.05em;
    margin-right: 11px;

    color: #6E6893;
  }

  .all-conn-number span{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.05em;
    margin-left: 50px;


    color: #6E6893;
  }

  .conn_pages_arrow_left {
    width: 6px;
    height: 10px;
    margin-left: 58px;
    margin-right: 50px;
  }
}





/*
@media (max-width: 1240px) {
  #folders {
    margin-left: 30px;

    .connection-folder {

      .link-container {

        max-width: 840px;
        margin-left: 50px;
        margin-right: 50px;

      }
    }
  }
}

@media (max-width: 1140px) {
  #folders {
    margin-left: auto;

    .connection-folder {

      .link-container {
        max-width: 640px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}


@media (max-width: 920px) {
  #folders {
    margin-left: auto;

    .connection-folder {

      .link-container {
        max-width: 580px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 860px) {
  #folders {
    margin-left: auto;

    .connection-folder {

      .link-container {
        max-width: 500px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 770px) {
  #folders {
    margin-left: auto;

    .connection-folder {

      .link-container {
        max-width: 440px;
        margin-left: 20px;
        margin-right: 20px;

      }
    }
  }
}

@media (max-width: 690px) {
  .menu {

    .search {

      #search-field {
        max-width: 300px;
        height: 30px;
        margin-right: 20px;
        border: .4px solid #818181;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 590px) {
  .menu {

    .search {

      #search-field {
        max-width: 200px;
        height: 30px;
        margin-right: 20px;
        border: .4px solid #818181;
        border-radius: 5px;
      }
    }
  }
}
*/