@import "../../../../styles/variables.scss";

/* POP-UP */
.firebase-popup-BG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000A6;
  z-index: 100;

  /* POP-UP WINDOW */
  .firebase-popup-window {
    height: max-content;
    padding-bottom: 20px;
    width: 560px;
    background: $background;
    border-radius: 8px 8px 6px 6px;

    /* POP-UP HEADER */
    .firebase-popup-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 59px;
      width: 560px;
      border-radius: 6px 6px 0 0;
      background: $sub-header;
      margin-bottom: 0;
      padding: 0px 20px;

      /* POP-UP HEADER TEXT */
      span {
        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: $sub-header-font-size;
        line-height: 21px;
        color: $color;
        mix-blend-mode: normal;
        opacity: 0.8;
      }

      /* POP-UP CROSS */
      .connection-popup-cross {
        display: flex;
        margin-left: auto;
        height: 22px;
      }

      .connection-popup-cross:hover {
        cursor: pointer;
        height: 21px;
      }
    }

    .firebase-popup-btn-no-error {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 50px;

      /* POP-UP CANCEL BUTTON */
      .firebase-popup-cancel-btn {
        height: 42px;
        width: 104px;
        text-transform: capitalize;
        margin-right: 26px;

        border: 2px solid #D3D3D3;
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        letter-spacing: -0.11px;

        color: rgba(139, 139, 139, 0.836589);
      }


      /* POP-UP CREATE BUTTON */
      .firebase-popup-create-btn {
        height: 42px;
        width: max-content;
        text-transform: capitalize;
        margin-right: 20px;

        background: $button;
        border-radius: 4px;

        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        letter-spacing: -0.11px;

        color: $color;
      }
    }
  }
}


#firebase-popup-cancel-btn:hover {
  color: #5C5D6F;
  border: 2px solid #5C5D6F;
  transition: .2s;
}

#firebase-popup-create-btn:hover {
  background: $hover;
  transition: .2s;
}