<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>19H1323</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TunnelBear</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon-On</string>
	<key>CFBundleIconName</key>
	<string>AppIcon-On</string>
	<key>CFBundleIdentifier</key>
	<string>com.tunnelbear.mac.TunnelBear</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TunnelBear</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>CFBundleURLName</key>
			<string>com.tunnelbear.mac</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tunnelbear</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>1629989300</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12C33</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1230</string>
	<key>DTXcodeBuild</key>
	<string>12C33</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>captive.apple.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 TunnelBear, Inc. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.tunnelbear.mac.tbeard</key>
		<string>anchor apple generic and certificate leaf[subject.OU] = P2PHZ9K5JJ and identifier "com.tunnelbear.mac.tbeard" and info [CFBundleVersion] &gt;= "55"</string>
	</dict>
	<key>SUCheckAtStartup</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://s3.amazonaws.com/tunnelbear/downloads/mac/appcast.xml</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>TBGitSHA</key>
	<string>d13ddcbdd</string>
</dict>
</plist>
