@import "../../../styles/variables";


/* CREATE TABLE PAGE */
.create_edit_table {
  height: calc(100vh - 80px);
  width: calc(100vw - 255px);


  /* SCROLL */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #BFBEBE;
    margin-right: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4A4A4A;
  }


  /* MINI MENU */
  #mini-menu {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;



    .create-table-name-input {
      height: 40px;
      margin-left: 39px;

      width: 362px;

      border: none;

      border-bottom: 1px solid #E2DFE3;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;

      color: #3E3E3E;

    }

    .create-table-name-input::placeholder {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;

      color: #999999;
    }


    .save-button {
      height: 42px;
      width: 194px;
      border: 1px solid #B7B4B7;
      box-sizing: border-box;
      filter: drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.0535402));
      border-radius: 4px;
      background: #FFFFFF;

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      letter-spacing: -0.11px;

      color: #5C5D6F;
      margin-right: 29px;
    }

    .save-button:hover {
      transition: .2s;
      border: 2px solid #5C5D6F;
      cursor: pointer;
    }




    .actions {
      display: flex;
      justify-content: space-between;

      .options-buttons {
        display: flex;
        width: max-content;

        .runButton {
          display: inline-block;
          cursor: pointer;

          min-width: 90px;
          width: max-content;
          height: 30px;

          margin-top: 10px;
          margin-left: 20px;

          font-size: 14px;
          vertical-align: middle;
          text-align: center;

          background-color: white;
          color: #3E3E3E;

          border-radius: 5px;
          border: 1px solid #3E3E3E;

          transition: 0.2s;
        }

        .runButton:hover {
          cursor: pointer;

          color: white;
          background-color: #3E3E3E;
        }
      }

      .saving-result {
        display: flex;

        .saveButton {
          display: inline-block;
          cursor: pointer;

          width: 90px;
          height: 30px;

          margin-top: 10px;
          margin-right: 20px;
          padding: 0 32px;

          font-size: 14px;
          text-align: center;
          text-decoration: none;

          background-color: white;
          color: #3E3E3E;

          border: 1px solid #3E3E3E;
          border-radius: 5px;

          transition: 0.2s;
        }

        .saveButton:hover {
          cursor: pointer;

          color: white;
          background-color: #3E3E3E;
        }

        #aliasText {
          height: 30px;
          min-width: 110px;

          margin-top: 10px;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }




  .create-edit-table-body {
    height: calc(100vh - 294px);
  }

  .create-edit-table-footer {
    display: flex;

    justify-content: flex-end;
    height: 141px;





    .create-edit-table-footer-add-table {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      margin-right: 60px;

      span {
        display: none;
      }

      .create-edit-table-footer-add-table-btn {
        margin-top: auto;
        cursor: pointer;
        height: 70px;
        width: 70px;
        background-size: contain;
        border-radius: 50%;
        margin-bottom: 25px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        padding: 15px;
      }
    }

    .create-edit-table-footer-add-table:hover {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 85px;
        background: #FFFFFF;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #3E3E3E;
      }
    }

    .create-edit-table-footer-reload {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;


      span {
        display: none;
      }

      .create-edit-table-footer-reload-btn {
        margin-top: auto;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }

    .create-edit-table-footer-reload:hover {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 65px;
        background: #FFFFFF;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #3E3E3E;
      }
    }





    .create-edit-table-footer-test {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      margin-right: 20px;


      span {
        display: none;
      }

      .create-edit-table-footer-test-btn {
        margin-top: auto;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }



    .create-edit-table-footer-test:hover {

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 65px;
        background: #FFFFFF;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #3E3E3E;
      }
    }
  }













  /* TABLE */
  table {
    width: 100%;
  }

  /* QUERY CONSTRUCTOR */

  .query-constructor {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 250px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    align-items: center;

    .constructor-tables {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
    }

    .constructor-table {
      display: flex;
      flex-direction: row;
      margin: 5px 20px;
      z-index: 999;

      #link-icon {
        width: 30px;
      }

      .query-table-loader {
        width: 100%;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;

        .dot-flashing {
          margin-top: 10px;
          position: relative;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: $white;
          color: $white;
          animation: dotFlashing 1s infinite linear alternate;
          animation-delay: .5s;
        }

        .dot-flashing::before, .dot-flashing::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
        }

        .dot-flashing::before {
          left: -15px;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: $white;
          color: $white;
          animation: dotFlashing 1s infinite alternate;
          animation-delay: 0s;
        }

        .dot-flashing::after {
          left: 15px;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: $white;
          color: $white;
          animation: dotFlashing 1s infinite alternate;
          animation-delay: 1s;
        }

        @keyframes dotFlashing {
          0% {
            background-color: $white;
          }
          50%,
          100% {
            //background-color: #319c68;
            opacity: 0.5;
          }
        }
      }

      .constructor-table-data {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: max-content;
        min-width: 200px;
        min-height: 50px;
        padding: 10px;
        border: none;
        color: white;
        border-radius: 4px;

        span {
          font-size: 16px;
          margin-right: 10px;
        }

        select {
          //background: transparent;
          opacity: 0.5;
          border: none;
        }

        .table-data {
          display: flex;
          align-items: center;
          justify-content: space-between;

          #remove-icon {
            margin-left: 20px;
            width: 20px;
            height: 20px;
          }
        }

        .table-column {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: 50px;
          margin-top: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          background: black;
          opacity: 0.7;
          padding-left: 10px;

          .column-name {
            display: flex;
            flex-direction: row;
            align-items: center;

            .column-arrows {
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .add-table {
      width: 50px;
      height: 50px;
      padding: 5px;
      margin: 5px;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .add-table:hover {
      background-color: $hover-white;
    }
  }

  /* INPUT CODE*/
  #queryText {
    grid-area: queryText;
    width: 100%;
    height: 100%;
    resize: none;
    border-top: 1.5px $black;
    border-left: 1.5px $black;
    border-right: 1.5px $black;
  }

  .alert {
    width: calc(100% - 20px);
    height: 70px;

    margin-left: 15px;
    margin-top: 10px;
    padding: 20px;

    color: white;
  }

  #errorMessage {
    background-color: #f46d5d;
  }

  #warningMessage {
    background-color: #f4cb4c;
  }

  #successMessage {
    background-color: #2ec554;
  }

  .closebtn {
    cursor: pointer;

    margin-left: 15px;
    float: right;


    font-weight: bold;
    font-size: 22px;
    line-height: 20px;

    color: white;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

}

#add-btn-table {
  grid-area: newTable;
  overflow: auto;
}