@import "../../../styles/variables";


/* CREATE TABLE PAGE */
.create_edit_table {
  display: grid;
  grid-template-areas:
          "miniMenu"
          "queryText"
          "newTable";
  grid-template-rows: 50px 45vh auto;

  height: calc(100vh - 50px);


  /* SCROLL */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #BFBEBE;
    margin-right: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4A4A4A;
  }


  /* MINI MENU */
  #mini-menu {
    grid-area: miniMenu;

    height: 50px;

    font-family: 'Scada', sans-serif;

    background-color: #F9F9F9;

    border-bottom: .5px solid #EBEBEB;


    .actions {
      display: flex;
      justify-content: space-between;

      .options-buttons {
        display: flex;
        width: max-content;

        .runButton {
          display: inline-block;
          cursor: pointer;

          min-width: 90px;
          width: max-content;
          height: 30px;

          margin-top: 10px;
          margin-left: 20px;

          font-size: 14px;
          vertical-align: middle;
          text-align: center;

          background-color: white;
          color: #3E3E3E;

          border-radius: 5px;
          border: 1px solid #3E3E3E;

          transition: 0.2s;
        }

        .runButton:hover {
          cursor: pointer;

          color: white;
          background-color: #3E3E3E;
        }
      }

      .saving-result {
        display: flex;

        .saveButton {
          display: inline-block;
          cursor: pointer;

          width: 90px;
          height: 30px;

          margin-top: 10px;
          margin-right: 20px;
          padding: 0 32px;

          font-size: 14px;
          text-align: center;
          text-decoration: none;

          background-color: white;
          color: #3E3E3E;

          border: 1px solid #3E3E3E;
          border-radius: 5px;

          transition: 0.2s;
        }

        .saveButton:hover {
          cursor: pointer;

          color: white;
          background-color: #3E3E3E;
        }

        #aliasText {
          height: 30px;
          min-width: 110px;

          margin-top: 10px;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }


  /* TABLE */
  table {
    width: 100%;
  }

  /* QUERY CONSTRUCTOR */

  .query-constructor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    align-items: center;

    .constructor-table {
      display: flex;
      flex-direction: row;

      #link-icon {
        width: 30px;
      }

      .constructor-table-data {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: max-content;
        min-width: 200px;
        min-height: 50px;
        padding: 10px;
        margin: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        span {
          font-size: 16px;
          margin-right: 10px;
        }

        select {
          border: none;
        }

        .table-data {
          display: flex;
          align-items: center;
          justify-content: space-between;

          #remove-icon {
            margin-left: 20px;
          }
        }

        .table-column {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: 50px;
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid #282c34;

          .column-name {
            display: flex;
            flex-direction: row;
            align-items: center;

            .column-arrows {
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .add-table {
      width: 50px;
      height: 50px;
      padding: 5px;
      margin: 5px;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .add-table:hover {
      background-color: $hover-white;
    }
  }

  /* INPUT CODE*/
  #queryText {
    grid-area: queryText;
    width: 100%;
    height: 100%;
    resize: none;
    border-top: 1.5px $black;
    border-left: 1.5px $black;
    border-right: 1.5px $black;
  }

  .alert {
    width: calc(100% - 20px);
    height: 70px;

    margin-left: 15px;
    margin-top: 10px;
    padding: 20px;

    color: white;
  }

  #errorMessage {
    background-color: #f46d5d;
  }

  #warningMessage {
    background-color: #f4cb4c;
  }

  #successMessage {
    background-color: #2ec554;
  }

  .closebtn {
    cursor: pointer;

    margin-left: 15px;
    float: right;


    font-weight: bold;
    font-size: 22px;
    line-height: 20px;

    color: white;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

}

#add-btn-table {
  grid-area: newTable;
  overflow: auto;
}