@import "../../../../styles/variables.scss";

/* POP-UP */
.simplified-connection-popup-BG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #000000A6;

  z-index: 100;




  /* POP-UP WINDOW */
  .simplified-popup-window {
    height: max-content;
    padding-bottom: 20px;
    width: 560px;
    background: $background;
    border-radius: 8px 8px 6px 6px;


    /* POP-UP HEADER */
    .simplified-popup-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 59px;
      width: 560px;
      border-radius: 6px 6px 0 0;
      background: $sub-header;
      margin-bottom: 0;
      padding: 0px 20px;

      /* POP-UP HEADER TEXT */
      span {
        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: $color;

        mix-blend-mode: normal;
        opacity: 0.8;
      }
    }

    /* POP-UP CROSS */
    .simplified-popup-cross {
      height: 22px;
    }

    .simplified-popup-cross:hover {
      cursor: pointer;
      width: 21px;
    }

    /* POP-UP BUTTON */
    .simplified-popup-btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 11px;
    }

    .simplified-popup-btn-no-error {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 40px;

      /* POP-UP CREATE BUTTON */
      .simplified-popup-create-btn {
        height: 42px;
        width: max-content;
        text-transform: capitalize;
        margin-right: 20px;

        background: $button;
        border-radius: 4px;

        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        letter-spacing: -0.11px;

        color: $color;
      }
    }


    .simplified-error-message {
      background: #FFEEED;
      border: 1px solid #FF6C65;
      box-sizing: border-box;
      border-radius: 6px;

      height: 32px;
      width: 170px;
      padding-left: 13px;
      margin-top: 17px;
      margin-left: 45px;
      padding-top: 1px;


      span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;

        text-align: center;

        color: #FF6C65;
      }
    }
  }
}


#simplified-popup-cancel-btn:hover {
  color: #5C5D6F;
  border: 2px solid #5C5D6F;
  transition: .2s;
}

#simplified-popup-create-btn:hover {
  background: $hover;
  transition: .2s;
}