.db-mini-menu-window {
  position: absolute;
  height: 100px;
  width: 214.6747283935547px;
  left: 83%;

  background: #FFFFFF;
  box-shadow: 0 11px 15px rgba(0, 0, 0, 0.139232);
  border-radius: 4px;


  .db-mini-menu-edit {
    height: 50px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 22.44px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #3E3E3E;
  }

  .db-mini-menu-delete {
    height: 50px;
    width: 100%;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 22.44px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #3E3E3E;
  }

}


.db-mini-menu-edit:hover {
  cursor: pointer;
  background: #F8F8FA;
}

.db-mini-menu-delete:hover {
  cursor: pointer;
  background: #F8F8FA;
}