.rename-table-popup-BG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: auto;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #000000A6;

  z-index: 100;


  .rename-table-popup-window {
    height: 340px;
    width: 660px;
    left: 470px;
    top: 285px;
    background: #FFFFFF;
    border-radius: 6px;
    cursor: auto;



    .rename-table-popup-cross {
      display: flex;
      margin-left: auto;
      margin-top: 32px;
      margin-right: 45px;
      cursor: pointer;
    }


    .rename-table-popup-title {
      text-align: left;
      margin-left: 45px;

      span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;

        color: #3E3E3E;
      }
    }


    .rename-table-popup-body {
      margin-top: 25px;
      margin-left: 45px;
      margin-right: 45px;
      text-align: left;

      .rename-table-popup-body-items {
        display: flex;
        flex-direction: column;


        span {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;

          color: #000000;

          margin-bottom: 12px;
        }

        input {
          height: 52px;
          width: 569px;
          left: 516px;
          top: 432px;
          background: #FFFFFF;
          border: 2px solid #D8DFEA;
          box-sizing: border-box;
          border-radius: 4px;


          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;

          color: #000000;
          padding-left: 22px;
        }

        input::placeholder {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;

          color: rgba(92, 93, 111, 0.6);
        }
      }
    }


    .rename-table-popup-btn {
      display: flex;
      margin-top: 59px;
      justify-content: flex-end;

      .rename-table-popup-cancel-btn {
        height: 42px;
        width: 104px;
        border: 2px solid #D3D3D3;
        box-sizing: border-box;
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        letter-spacing: -0.11px;

        color: rgba(139, 139, 139, 0.836589);
        text-transform: capitalize;

        margin-right: 25px;
      }

      .rename-table-popup-cancel-btn:hover {
        color: #5C5D6F;
        border: 2px solid #5C5D6F;
        background: #FFFFFF;
        transition: .2s;
      }


      .rename-table-popup-save-btn {
        height: 42px;
        width: 108px;

        background: #28794E;
        border-radius: 4px;

        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        letter-spacing: -0.11px;

        color: #FFFFFF;
        text-transform: capitalize;

        margin-right: 45px;
      }

      .rename-table-popup-save-btn:hover {
        background: #5BC470;
        transition: .2s;
      }
    }
  }
}