.hidden-columns-popup {
  position: absolute;
  min-width: 245px;
  min-height: 100px;
  max-height: 500px;
  z-index: 9999;
  top: 138px;
  bottom: 0;
  right: 0px;
  left: calc(100% - 270px);
  height: max-content;
  width: max-content;
  padding: 22px 17px;
  background: #FFFFFF;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.139232);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .hidden-columns {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .hidden-column {
      display: flex;
      align-items: center;

      .column-checkbox {
        background: #FFFFFF;
        border: 2px solid #D8DFEA;
        box-sizing: border-box;
        border-radius: 4px;
      }

      .column-label {
        margin-top: 8px;
        margin-left: 9px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #3E3E3E;
      }
    }
  }

  .columns-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 17px;

    #show-all-hidden-columns-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -0.11px;
      letter-spacing: -0.11px;
      color: rgba(139, 139, 139, 0.836589);
    }

    #show-all-hidden-columns-btn:hover {
      color: rgba(193, 193, 193, 0.84);
    }

    #done-hidden-column-btn {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -0.11px;
      margin-left: 17px;
      color: #28794E;
    }

    #done-hidden-column-btn:hover {
      color: #319561;
    }
  }
}