@import "../../styles/variables";


::-webkit-scrollbar {
  height: 0;
  width: 0;
}


/* --------------------------------------------------- TABLES PAGE -------------------------------------------------- */
.tables-page {
  display: flex;
  overflow: hidden;



  /* -------------------------------------------- TABLES PAGE LEFT MENU --------------------------------------------- */
  .tables-page-left-menu {
    max-height: calc(100vh - 80px);
    min-width: 255px;
    border-right: 1px solid #e3e2e5;
    background-color: #f7f7f7;
    z-index: 100;

    .top-menu-part {
      height: 50%;
      min-height: 200px;
    }

    .bottom-menu-part {
      height: 50%;
      min-height: 200px;
    }

    .new-tab {
      display: flex;
      flex-direction: column;
      background: #EDECEF;

      .new-tab-title {
        display: flex;
        width: 100%;
        cursor: pointer;
        text-align: start;
        margin-left: 16px;
        margin-top: 5px;
        font-size: 14px;

        .create-new-table-btn {
          background: #28794E;
          border-radius: 4px;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;

          padding: 1px 6px;
          margin-top: 1px;
          letter-spacing: -0.11px;

          color: #FFFFFF;
          margin-left: 7.25px;
        }

        .create-new-table-btn:hover {
          background: #5abd6a;
          transition: .2s;
          cursor: pointer;
        }
      }

      .left-menu-line {
        width: 100%;
        margin-top: 5px;
        border-bottom: 1px solid #d2d2d2;
      }
    }

    /* -------------------------------------------- LEFT MENU ALL TABLES -------------------------------------------- */
    .left-menu-all-tables {
      overflow-y: scroll;
      height: 83%;
      margin-right: 18.71px;
      padding-top: 20px;

      .table-page-left-menu-table {
        margin-bottom: 28px;

        /* -------------------------------------------------- TABLE --------------------------------------------------- */
        .left-menu-table {
          display: flex;
          margin-left: 26px;
          height: 20px;
          margin-bottom: 28px;
          justify-content: space-between;
          cursor: pointer;

          /* TABLE ICON */
          .table-icon {
            display: flex;
            align-items: center;
            margin-right: 20px;

            svg {
              fill: #5C5D6F;
            }
          }

          /* TABLE NAME */
          .table-name {
            display: flex;
            align-items: center;
            width: 165px;
            padding-right: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
              font-family: Roboto, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;

              color: #5C5D6F;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      /* TABLE MENU */
      .table-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-bottom: 5px;
        cursor: pointer;
      }



      /* ------------------------------------------------ TABLE HOVER ----------------------------------------------- */
      .left-menu-table:hover {



        /* TABLE ICON HOVER */
        .table-icon {
          svg {
            fill: #2A7C50;
          }
        }


        /* TABLE NAME HOVER */
        .table-name {
          span {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            color: #2A7C50;
          }
        }
      }


      .table-name:active {
        span {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          color: #2A7C50;
        }
      }
    }
  }
}


.right-side-tables-page {
  width: 100vw;

  .empty-result-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(100vw - 255px);
    height: calc(100vh - 80px);
    background-color: #F8F8FA;



    .empty-result-column {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 427px;

      margin-left: 30px;
      margin-right: 30px;


      img {
        margin: 0 auto 51.54px;
        width: 200px;
        height: 200px;
      }

      span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;

        text-align: center;

        color: #5C5D6F;
        margin: 0 auto 16px;
        padding-left: 15%;
      }




      .empty-right-side-tables-page-btn {
        padding-left: 13%;
        margin-right: 45px;

        span {
          margin-right: 15px;
        }

        button {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          letter-spacing: -0.11px;

          color: #5C5D6F;

          height: 42px;
          width: 234px;
          border: 1px solid #B7B4B7;
          filter: drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.0535402));
          border-radius: 4px;
          background-color: #F8F8FA;
          margin: 0 auto;
        }

        button:hover {
          border: 2px solid #5C5D6F;
          transition: .2s;
        }
      }
    }
  }
}