@import "../../../../styles/variables.scss";

/* POP-UP */
.connection-popup-BG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000A6;
  z-index: 100;

  /* POP-UP WINDOW */
  .connection-popup-window {
    height: 280px;
    width: 500px;
    background: $color;
    border-radius: 8px 8px 6px 6px;

    /* POP-UP HEADER */
    .connection-popup-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 59px;
      width: 500px;
      background: $sub-header;
      padding: 0px 20px;
      border-radius: 6px 6px 0 0;

      /* POP-UP HEADER TEXT */
      span {
        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: $header-font-size;
        display: flex;
        align-items: center;
        color: $color;
        mix-blend-mode: normal;
      }

      /* POP-UP CROSS */
      .connection-popup-cross {
        display: flex;
        margin-left: auto;
        height: 22px;
      }

      .connection-popup-cross:hover {
        cursor: pointer;
        height: 21px;
      }
    }
  }
}
