@import "../../styles/variables";

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;

  .blur-back {
    position: absolute;
    z-index: 200;
    background: #ebfcef;
    width: 100%;
    height: 100%;
  }


  .auth-form {
    z-index: 999;
    position: absolute;
    width: 400px;
    min-height: 390px;
    height: max-content;
    box-shadow: $box-shadow;
    background: $box-background-color;
    border-radius: 4px;
    color: $box-text-color;
    display: flex;
    padding: 15px 30px 35px 30px;
    flex-direction: column;

    .auth-form-header-image {
      margin-top: -50px;
      margin-bottom: 20px;

      img {
        width: 100px;
      }
    }

    .auth-form-header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .auth-form-header-text {
          display: flex;
          flex-direction: column;

          .auth-form-title {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: #3E3E3E;
            text-align: left;
          }

          .auth-form-subtitle {
            font-family: Roboto, sans-serif;
            margin-top: 14px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $black;
          }
        }
    }

    .auth-form-line {
      width: 100%;
      height: 1px;
      margin-top: 25px;
      background: #E2DFE3;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .auth-form-error {
      margin-top: 25px;
      width: 340px;
      display: flex;
      flex-direction: row;
      padding: 9px 13px;
      background: #fff;
      border: 1px solid #FF6C65;
      box-sizing: border-box;
      border-radius: 6px;

      span {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FF6C65;
      }
    }

    .auth-form-input-item {
      display: flex;
      flex-direction: column;
      width: 100%;

      .auth-form-input-tip {
        display: flex;
        margin-top: 5px;
        font-size: 10pt;
        justify-content: start;
      }

      .auth-form-input-label {
        font-family: Roboto, sans-serif;
        display: flex;
        width: 100%;
        font-style: normal;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 10pt;
        line-height: 19px;
        color: #000000;
        margin-top: 23px;
      }

      #login-email {
        font-family: Roboto, sans-serif;
        margin-top: 14px;
        background: #FFFFFF;
        border: 1px solid #D8DFEA;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 21px;
        height: 42px;
      }

      #login-password {
        font-family: Roboto, sans-serif;
        height: 42px;
        padding-left: 21px;
        margin-top: 14px;
        background: #FFFFFF;
        border: 1px solid #D8DFEA;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }

    .auth-form-buttons {
      margin-top: 30px;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      .auth-form-login-button {
        font-family: Roboto, sans-serif;
        width: 100%;
        height: 42px;
        background: #1D976C;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.11px;
        color: $white;
        border: none;
      }
    }
  }
}


.auth-form-register-button {
  margin-top: 5px;
  font-family: Roboto, sans-serif;
}

.auth-form-register-button:hover {
  color: #1e7e34;
}
