@import "../../styles/variables";

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;

  .blur-back {
    position: absolute;
    z-index: 99;
    background: $white;
    filter: blur(1000px);
    width: 100%;
    height: 100%;
  }


  .auth-form {
    z-index: 999;
    position: absolute;
    width: 660px;
    min-height: 462px;
    height: max-content;
    box-shadow: $box-shadow;
    background: $box-background-color;
    border-radius: 5px;
    color: $box-text-color;
    display: flex;
    padding: 35px 80px;
    flex-direction: column;

    .auth-form-header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .auth-form-header-text {
          display: flex;
          flex-direction: column;

          .auth-form-title {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: #3E3E3E;
          }

          .auth-form-subtitle {
            margin-top: 14px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $black;
          }
        }
    }

    .auth-form-line {
      width: 100%;
      height: 1px;
      margin-top: 25px;
      background: #E2DFE3;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .auth-form-error {
      margin-top: 25px;
      width: max-content;
      display: flex;
      flex-direction: row;
      padding: 9px 13px;
      background: #FFEEED;
      border: 1px solid #FF6C65;
      box-sizing: border-box;
      border-radius: 6px;

      span {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FF6C65;
      }
    }

    .auth-form-input-item {
      display: flex;
      flex-direction: column;
      width: 100%;

      .auth-form-input-label {
        display: flex;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 23px;
      }

      #login-email {
        margin-top: 14px;
        background: #FFFFFF;
        border: 1px solid #D8DFEA;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 10px;
        height: 52px;
      }

      #login-password {
        height: 52px;
        padding-left: 10px;
        margin-top: 14px;
        background: #FFFFFF;
        border: 1px solid #D8DFEA;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }

    .auth-form-buttons {
      margin-top: 30px;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      #auth-form-cancel-button {
        width: 104px;
        height: 42px;
        color: rgba(139, 139, 139, 0.836589);;
        background: white;
        border: 2px solid #D3D3D3;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.11px;
      }

      #auth-form-login-button {
        width: 104px;
        height: 42px;
        background: #28794E;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.11px;
        color: $white;
        margin-left: 25px;
        border: none;
      }
    }
  }
}