@import "../../styles/variables";

.message-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000A6;
  z-index: 1000;
}

.message {
  margin-top: -20px;
  padding-left: 150px;
  padding-right: 348px;
}

.message-popup-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.message-popup-box {
  width: 100%;
  height: max-content;
  padding: 20px 10px;
  background: #FFFFFF;

  img {
    height: 120px;
    margin-right: 20px;
  }
}

.message-popup-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-left: 46px;
  color: #3E3E3E;
}

.message-popup-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 36px;

  #subBtn {
    height: 42px;
    width: 108px;
    background: $button;
    border-radius: 4px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.11px;
    color: $color;
    margin-right: 42px;
  }
}
