.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;

    padding: 10px 15px;

    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #7CC6fE;
    color: #FFF;

    border: none;
}

.btn:hover {
    background-color: #70B4E6;
}

.btn[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.btn.active {
    background-color: #23C9FF;

    border: 1px solid #5EB2F2;
    box-shadow: 0px 0 2px 0px #C0C0C0;
}

.btn.invert {
    background-color: #FFF;
    color: #000;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn.underline {
    text-decoration: underline;
}
