/* ALL PAGE */
.container {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;



  /* LEFT MENU */
  .left {
    width: 300px;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;

    background: #EFEFEF;

    position: absolute;
    z-index: -1;



    /* INPUT */
    .db_field {
      margin-bottom: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      #input-info {
        font-size: 17px;

        color: #3E3E3E;
      }

      #db-input {
        width: 150px;
        height: 30px;
        font-size: 14px;

        border: 0.5px solid #818181;

        background-color: #F8F8F8;
        color: #3E3E3E;
      }
    }



    /* CHOOSE DB */
    .choose-db {
      margin-top: 40px;

      display: flex;
      flex-direction: column;
      align-items: center;

      #choose-info {
        font-size: 17px;

        color: #3E3E3E;
      }

      #choose-type {
        width: 120px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;

        border-radius: 5px;
      }
    }


    /* ADD BUTTON */
    .add-button {
      width: 200px;
      height: 40px;
      margin-top: 30px;

      border-radius: 5px;
      border: 0 solid;

      background-color: #EB6E3B;
    }

    .add-button:hover {
      background: #c1562b;
      cursor: pointer;
    }
  }
}



/* СТАРИЙ КОД */

/*
@import "./variables";
.container {
  display: flex;
  margin-top: 40px;
  padding-left: 0px;
  .column {
    display: flex;
    flex-direction: column;
  }
}
.left {
  background: #0f6674;
  border: 2px #0c5460;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  .db_field {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin-bottom: 20px;
    color: white;
    span {
      margin-right: 20px;
    }
  }
}
.right {
  display: flex;
  padding-bottom: 35px;
  flex-wrap: wrap;
  margin-left: 40px;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}
hr {
  color: #C0C0C0;
  background-color: #C0C0C0;
  height: 1px;
  margin: 40px 0;
}
.add-btn {
  background-color: #17a2b8!important;;
  border-color: $navbar;
}
.btn:hover {
  background-color: $navbar;
  color: $white;
}
.btn-text {
  color: $navbar;
}
.cancel-btn {
  padding-top: 0;
  color: $cancel-btn;
}
.connection-folder {
  padding-left: 10px;
  padding-right: 10px;
}
.link-container {
  transition: transform .3s;
  img {
    width: 120px;
  }
  .link {
  }
}
.link-container:hover {
  transform: translateY(-5px);
}
.alert {
  margin-top: 20px;
}
.url-menu {
  min-width: 150px;
  color: $folder-title;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px black;
  user-select: none;
  z-index: 1;
  &-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5px;
    font-weight: 500;
  }
  &-line {
    display: block;
    width: 100%;
    height: 1px;
    background: $context-menu-line;
  }
  &-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 5px;
  }
  &-item:hover {
    background: $hover;
  }
}
*/