/* ALL PAGE */
@import "./variables";

#configure-manually-btn, #simplified-connection-btn {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 15px;
  text-decoration: underline;
}

.choose-db-field {
  display: flex;

  #choose-db-title {
    margin-left: 5px;
  }

  #choose-db {
    margin-left: 10px;
  }
}

.information-field {
  display: flex;
  flex-direction: column;

  .input-title {
    display: flex;
    width: max-content;
  }

  #schema-tip {
    width: 24px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .help-tip {
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: rgba(255, 117, 0, 0.75);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
  }

  .help-tip:before {
    content: '?';
    font-weight: bold;
    color: #fff;
  }

  .help-tip:hover p {
    display: block;
    z-index: 999;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  }

  .help-tip p {    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: 210px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
  }

  .help-tip p:before { /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 252px;
    top: -12px;
  }

  .help-tip p:after { /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
  }

  /* CSS animation */

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
      transform: scale(0.6);
    }

    100% {
      opacity:100%;
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
  }
}

.connections-page {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;

  /* TOP MENU */
  #menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    border-bottom: .5px solid #EBEBEB;
    background-color: #F9F9F9;

    /* ADD BUTTON */
    .add-button {
      font-size: 14px;
      margin-right: 20px;
      margin-left: 30px;
      font-family: 'Scada', sans-serif;

      min-width: 130px;
      width: 140px;
      height: 30px;

      border-radius: 5px;
      border: 0 solid;

      background-color: #EB6E3B;
    }

    .add-button:hover {
      background: #c1562b;
      cursor: pointer;
    }

    /* SEARCH INPUT */
    .search {
      display: flex;
      align-items: center;

      #search-field {

        width: 400px;
        height: 30px;
        margin-right: 20px;
        padding-left: 10px;

        border: .4px solid #818181;
        border-radius: 5px;
      }

      /* SEARCH BUTTON */
      .search-button {
        color: white;
        font-size: 14px;
        font-family: 'Scada', sans-serif;

        width: 70px;
        height: 30px;
        margin-right: 30px;

        border-radius: 5px;
        border: 0 solid;

        background-color: black;
      }

      .search-button:hover {
        background: #3E3E3E;
        cursor: pointer;
      }
    }
  }

  /* FOLDERS */
  #folders {
    font-family: 'Scada', sans-serif;
    grid-area: folders;
    margin: 50px auto 0;
    min-height: calc(100vh - 150px);
    overflow: scroll;

    .connection-folder {

      .link-container {
        width: 940px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .2px solid #adadad;

        #database-icon {
          width: 40px;
          height: 40px;
        }

        #link {
          margin-left: 10px;
          font-size: 14px;
        }
      }

      .link-container:hover {
        cursor: pointer;
      }
    }

    #folders-n {
      margin-bottom: 0;
      font-size: 14px;
      color: #3E3E3E;
      font-family: 'Scada', sans-serif;
      font-weight: 400;
    }

    #folders-name {
      display: flex;
      align-items: center;
    }

    #functional {
      display: flex;
      align-items: center;

      #time {
        color: #8D8D8D;
        margin-right: 10px;
        font-size: 14px;
      }

      #pin-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      #delete-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 1240px) {
  #folders {
    margin-left: 30px;

    .connection-folder {

      .link-container {

        max-width: 840px;
        margin-left: 50px;
        margin-right: 50px;

      }
    }
  }
}

@media (max-width: 1140px) {

  #folders {
    margin-left: auto;

    .connection-folder {
      .link-container {
        max-width: 640px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}


@media (max-width: 920px) {
  #folders {
    margin-left: auto;

    .connection-folder {
      .link-container {
        max-width: 580px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 860px) {
  #folders {
    margin-left: auto;

    .connection-folder {
      .link-container {
        max-width: 500px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 770px) {
  #folders {
    margin-left: auto;

    .connection-folder {

      .link-container {

        max-width: 440px;
        margin-left: 20px;
        margin-right: 20px;

      }
    }
  }

}

@media (max-width: 690px) {
  #menu {
    .search {
      #search-field {

        max-width: 300px;
        height: 30px;
        margin-right: 20px;

        border: .4px solid #818181;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 590px) {
  #menu {
    .search {
      #search-field {

        max-width: 200px;
        height: 30px;
        margin-right: 20px;

        border: .4px solid #818181;
        border-radius: 5px;
      }
    }
  }
}
