/* ALL PAGE */
@import "./variables";
.all-page {
  padding: 0 !important;
  margin: 0 !important;

  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 300px auto;



  /* LEFT MENU */
  .left-menu {
    font-family: 'Scada', sans-serif;

    grid-area: left;

    width: 300px;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;

    background: #EFEFEF;



    /* INPUT */
    .information-field {
      margin-bottom: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      #input-title {
        font-size: 17px;
        font-family: 'Scada', sans-serif;

        color: #3E3E3E;
      }

      #input-field {
        font-family: 'Scada', sans-serif;

        width: 150px;
        height: 30px;
        font-size: 14px;

        border: 0.5px solid #818181;

        background-color: #F8F8F8;
        color: #3E3E3E;
      }
    }



    /* CHOOSE DB */
    .choose-db-field {
      margin-top: 40px;

      display: flex;
      flex-direction: column;
      align-items: center;

      #choose-db-title {
        font-family: 'Scada', sans-serif;
        font-size: 17px;

        color: #3E3E3E;
      }

      #choose-db {
        font-family: 'Scada', sans-serif;

        width: 120px;
        height: 30px;
        margin-top: 10px;
        padding-left: 5px;

        border-radius: 5px;
      }
    }



    /* ADD BUTTON */
    .add-button {
      font-family: 'Scada', sans-serif;

      width: 200px;
      height: 40px;
      margin-top: 30px;

      border-radius: 5px;
      border: 0 solid;

      background-color: #EB6E3B;
    }

    .add-button:hover {
      background: #c1562b;

      cursor: pointer;
    }



    /* ALERT */

    .alert {
      margin-top: 20px;
    }
  }



  /* VERTICAL LINE */
  .line {
    width: 1px;
    height: 100vh;
    margin-left: 300px;

    background-color: #818181;

    position: absolute;

    filter: blur(1px);

  }



  /* RIGHT SIDE */
  .right-side {
    grid-area: right;

    display: grid;
    grid-template-areas:
            "menu"
            "folders";
    grid-template-rows: 50px auto;



    /* TOP MENU */
    #menu {
      font-family: 'Scada', sans-serif;

      grid-area: menu;

      display: flex;

      border-bottom: .5px solid #EBEBEB;

      background-color: #F9F9F9;


      #sort {
        margin-left: 40px;
        margin-top: 10px;

        align-items: center;

        color: #3E3E3E;

        #choose-sort {
          padding-left: 5px;
          margin-left: 10px;
          height: 30px;
          width: 90px;

          border-radius: 5px;
          border: .5px solid #818181;
        }
      }




      /* SEARCH INPUT */

      .search {

        #search-icon {
          width: 18px;
          height: 18px;

          position: relative;
          left: 700px;
        }

        #search-field {
          margin-left: 130px;
          margin-top: 10px;
          width: 440px;
          height: 30px;

          border: .4px solid #818181;
          border-radius: 5px;
        }
      }




      /* SEARCH BUTTON */
      .search-button {
        color: white;
        font-size: 14px;
        font-family: 'Scada', sans-serif;

        width: 60px;
        height: 31px;
        margin-left: 10px;

        border-radius: 5px;
        border: 0 solid;

        background-color: #EB6E3B;
      }

      .search-button:hover {
        background: #c1562b;

        cursor: pointer;
      }
    }



    /* FOLDERS */
    #folders {
      font-family: 'Scada', sans-serif;

      grid-area: folders;

      margin: 50px auto 0;

      .connection-folder {


        .link-container {
          width: 940px;

          display: flex;
          align-items: center;
          justify-content: space-between;

          border-bottom: .2px solid #adadad;


          #database-icon {
            width: 40px;
            height: 40px;
          }


          #link {
            margin-left: 10px;
            font-size: 14px;
          }
        }


        .link-container:hover {
          cursor: pointer;
        }
      }

      #folders-n {
        margin-bottom: 0;
        font-size: 14px;
        color: #3E3E3E;
        font-family: 'Scada', sans-serif;
        font-weight: 400;

      }

      #folders-name {
        display: flex;
        align-items: center;


      }

      #functional {
        display: flex;
        align-items: center;


        #time {
          color: #8D8D8D;
          margin-right: 10px;
          font-size: 14px;
        }

        #pin-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        #delete-icon {
          width: 20px;
          height: 20px;
        }
      }



    }
  }
}
