@import "./variables";

.create_edit_table {
  display: grid;

  grid-template-areas:
            "miniMenu"
            "queryText"
            "newTable";

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }


  ::-webkit-scrollbar-track {
    background: #BFBEBE;
    margin-right: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4A4A4A;
  }

  #mini-menu {
    grid-area: miniMenu;
    font-family: 'Scada', sans-serif;

    border-bottom: .5px solid #EBEBEB;

    background-color: #F9F9F9;

    height: 50px;

    .actions {
      display: flex;
      justify-content: space-between;
  
      .runButton {
        margin-top: 10px;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 5px;
        background-color: #EB6E3B;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 14px;
        width: 90px;
        height: 30px;
        cursor: pointer;

      }

      .runButton:hover{
        background: #c1562b;

        cursor: pointer;
      }
  
      .saving-result {
        display: flex;
  
        .saveButton {
          margin-top: 10px;
          margin-right: 10px;
          background-color: #EB6E3B;
          border-radius: 5px;
          border: none;
          color: white;
          padding: 0px 32px;
          width: 90px;
          height: 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          cursor: pointer;
        }
  
        .saveButton:hover {
          background: #c1562b;

          cursor: pointer;
        }
  
        #aliasText {
          margin-top: 10px;
          margin-right: 20px;
          height: 30px;
          width: 320px;
        }
      }
    }
  }

  table {
    margin-left: 10px;
    margin-right: 100px;
    width: calc(100% - 20px);
  }

  #queryText {
    grid-area: queryText;
    margin-top: 40px;
    margin-left: 10px;
    width: calc(100% - 25px);
    height: 290px;
    resize: none;
    border: 0.5px solid #989898;
  }

  .alert {
    margin-left: 15px;
    margin-top: 10px;
    width: calc(100% - 20px);
    padding: 20px;
    background-color: #f44336;
    color: white;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

}

#add-btn-table {
  grid-area: newTable;
  margin-bottom: 10px;
  overflow: auto;
  max-height: 340px;

}

#your-new-table {
  margin-top: 10px;


}
