@import "./variables";


/* CREATE TABLE PAGE */
.create_edit_table {
  display: grid;
  grid-template-areas:
            "miniMenu"
            "queryText"
            "newTable";
  grid-template-rows: 50px 45vh auto;

  height: calc(100vh - 50px);


  /* SCROLL */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #BFBEBE;
    margin-right: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4A4A4A;
  }


  /* MINI MENU */
  #mini-menu {
    grid-area: miniMenu;

    height: 50px;

    font-family: 'Scada', sans-serif;

    background-color: #F9F9F9;

    border-bottom: .5px solid #EBEBEB;


    .actions {
      display: flex;
      justify-content: space-between;

      .runButton {
        display: inline-block;
        cursor: pointer;

        min-width: 90px;
        height: 30px;

        margin-top: 10px;
        margin-left: 10px;

        font-size: 14px;
        vertical-align: middle;
        text-align: center;

        background-color: white;
        color: #3E3E3E;

        border-radius: 5px;
        border: 1px solid #3E3E3E;

        transition: 0.2s;
      }

      .runButton:hover {
        cursor: pointer;

        color: white;
        background-color: #3E3E3E;
      }

      .saving-result {
        display: flex;

        .saveButton {
          display: inline-block;
          cursor: pointer;

          width: 90px;
          height: 30px;

          margin-top: 10px;
          margin-right: 10px;
          padding: 0 32px;

          font-size: 14px;
          text-align: center;
          text-decoration: none;

          background-color: white;
          color: #3E3E3E;

          border: 1px solid #3E3E3E;
          border-radius: 5px;

          transition: 0.2s;
        }

        .saveButton:hover {
          cursor: pointer;

          color: white;
          background-color: #3E3E3E;
        }

        #aliasText {
          height: 30px;
          min-width: 110px;

          margin-top: 10px;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }


  /* TABLE */
  table {
    width: calc(100% - 20px);

    margin-left: 10px;
    margin-right: 100px;
  }


  /* INPUT CODE*/
  #queryText {
    grid-area: queryText;

    width: calc(100% - 25px);
    height: 78.4%;

    margin-top: 5.4%;
    margin-left: 10px;

    resize: none;

    border: 0.5px solid #989898;
  }

  .alert {
    width: calc(100% - 20px);
    height: 70px;

    margin-left: 15px;
    margin-top: 10px;
    padding: 20px;

    color: white;
    background-color: #f44336;
  }

  .closebtn {
    cursor: pointer;

    margin-left: 15px;
    float: right;


    font-weight: bold;
    font-size: 22px;
    line-height: 20px;

    color: white;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

}

#add-btn-table {
  grid-area: newTable;
  overflow: auto;

  max-height: 340px;

  margin-bottom: 10px;
}

#your-new-table {
  margin-top: 10px;
}

