.sharing-buttons {

  /* EXPORT-BUTTON */
  #import-div, #export-div {
    display: flex;
    justify-content: left;

    font-family: 'Scada', sans-serif;
    font-size: 15px;
  }

  p {
    margin-top: 4px;
  }

  #export-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 30px;

    margin-right: 10px;

    font-family: 'Scada', sans-serif;
    font-size: 14px;

    color: white;
    background: #EB6E3B;

    border-radius: 5px;
  }

  #export-button:hover {
    cursor: pointer;

    background: #c1562b;
  }


  /* IMPORT-BUTTON */
  #import-button::-webkit-file-upload-button {
    visibility: hidden;
  }

  #import-button::before {
    display: flex;
    justify-content: center;
    content: "Import";

    padding-top: 4px;

    font-size: 14px;

    color: white;
  }

  #import-button {
    width: 70px;
    height: 30px;

    margin-right: 10px;

    font-family: 'Scada', sans-serif;

    background: #EB6E3B;

    border-radius: 5px;
  }

  #import-button:hover {
    cursor: pointer;

    background: #c1562b;
  }
}


/* HEADER */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  height: 50px;

  background: #252628;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);


  /* LOGO */
  #l-icon {
    width: 150px;
    height: 50px;

    margin-left: 30px;
  }


  /* MENU-BOX */
  .menu-box {
    display: flex;


    /* SETTINGS BUTTONS */
    .settings-buttons {
      display: flex;

      #settings-btn {
        width: 80px;
        height: 30px;

        margin-right: 30px;

        font-family: 'Scada', sans-serif;
        font-size: 14px;

        background: #EB6E3B;
        color: white;

        border: 0;
        border-radius: 5px;
      }

      #settings-btn:hover {
        cursor: pointer;

        background: #c1562b;
      }


      /* EXPORT-BUTTON */
      #settings-button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 80px;
        height: 30px;

        margin-right: 30px;

        font-family: 'Scada', sans-serif;
        font-size: 14px;

        color: white;
        background: #EB6E3B;

        border-radius: 5px;

        transition: 0.2s;
      }

      #settings-button:hover {
        cursor: pointer;

        background: #c1562b;
      }
    }


    /* ICONS */
    #open-tables {
      width: 30px;
      height: 30px;

      margin-right: 30px;
    }

    #open-tables:hover {
      cursor: pointer;
    }

    #open-connections {
      width: 30px;
      height: 30px;

      margin-right: 30px;
    }

    #open-connections:hover {
      cursor: pointer;
    }
  }
}


/* СТАРИЙ КОД */


/*.menu-header {
    // Header

    display: flex;
    justify-content: space-between;

    height: 50px;
    background: #252628;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    // LOGO: icon & title text

    .logo-box {
        margin-left: 30px;

        #l-icon {
            width: 150px;
            height: 50px;
        }
    }

    // SHARING: select & export buttons

    .menu-box {
        display: flex;

        margin-right: 10px;
        padding-top: 7px;

        .sharing-buttons {
            display: flex;

            // Select button style & animation

            #import-button::-webkit-file-upload-button {
                visibility: hidden;
            }

            #import-button::before {
                content: 'Import';
                display: flex;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;
                padding-top: 6px;
            }

            #import-button {
                margin-right: 30px;
                width: 70px;
                height: 30px;
                display: flex;
                //font-family: "Scada";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;

                background: #EB6E3B;
                border-radius: 5px;
            }

            #import-button:hover
            {
                background: #c1562b;
            }

            // Export button style & animation

            #export-button {
                //font-family: "Scada";
                width: 70px;
                height: 30px;

                margin-right: 10px;
                display: flex;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;

                background: #EB6E3B;
                border-radius: 5px;
            }

            #export-button:hover
            {
                background: #c1562b;
            }
        }

        #open-tables {
            width: 30px;
            height: 30px;
            margin-right: 30px;
        }

        #open-connections {
            width: 30px;
            height: 30px;
            margin-right: 30px;
        }
    }
}
*/