@import "./variables";

#back-section {
  display: flex;
  padding: 0 20px;

  #arrow-back {
    width: 30px;
    height: 30px;

    margin-top: 5px;
  }

  #connection-name {
    margin-left: 5px;
    margin-top: 7px;
    color: white;
    transition: 0.2s;
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;

    #connection-name {
      color: #2B2B2B;
    }
  }
}

.logo-box {
  display: flex;

  .logo {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: 20px;
    align-items: center;

    .logo-emoji {
      margin-left: 3px;
      animation: blinker 1.5s infinite;
      background: transparent;
      text-shadow: 0.5px 0.5px $yellow;
      font-size: 24px;
    }

    @keyframes blinker {
      60% { opacity: 0 }
    }

    .logo-text {
      color: $white;
      text-shadow: 1px 1px $black;
      font-size: 20px;
    }
  }
}

.sharing-buttons {

  /* EXPORT-BUTTON */
  #import-div, #export-div, #logout-div {
    display: flex;
    justify-content: left;

    font-family: 'Scada', sans-serif;
    font-size: 15px;
  }

  p {
    margin-top: 4px;
  }

  #logout-div {
    margin-top: 40px;
  }

  #logout-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 30px;

    margin-right: 10px;

    font-family: 'Scada', sans-serif;
    font-size: 14px;

    color: white;
    background: $white-red;

    border-radius: 5px;

    transition: 0.2s;
  }

  #logout-button:hover {
    cursor: pointer;

    background: $red;
  }

  #export-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 30px;

    margin-right: 10px;

    font-family: 'Scada', sans-serif;
    font-size: 14px;

    color: white;
    background: #575553;

    border-radius: 5px;

    transition: 0.2s;
  }

  #export-button:hover {
    cursor: pointer;

    background: #484644;
  }

  #import-div {
    margin-top: 20px;
  }

  /* IMPORT-BUTTON */
  #import-button::-webkit-file-upload-button {
    visibility: hidden;
  }

  #import-button::before {
    display: flex;
    justify-content: center;
    content: "Import";

    padding-top: 4px;

    font-size: 14px;

    color: white;
  }

  #import-button {
    width: 70px;
    height: 30px;

    margin-right: 10px;

    font-family: 'Scada', sans-serif;

    background: #575553;

    border-radius: 5px;

    transition: 0.2s;
  }

  #import-button:hover {
    cursor: pointer;

    background: #484644;
  }
}


/* HEADER */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  height: 80px;
  width: 100vw;

  background: $black; // linear-gradient(180deg, #2A7E52 0%, #27774C 99.97%);


  /* LOGO */

  .logo_bg {
    width: 70px;
    height: 67px;
    background: #20603B;
    position: absolute;
    left: 34px;
    top: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }


  #l-icon {
    position: absolute;
    width: 36px;
    height: 28px;
    left: 52px;
    top: 20px;
  }

  #home-icon {
    position: absolute;
    width: 25px;
    height: 22px;
    left: 137px;
    top: 25px;
  }

  #home-icon:hover {
    cursor: pointer;
  }




  .search-div {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 413px;
    height: 80px;
    margin-right: 25px;


  }

  .search-connection {
    width: 413px;
    height: 38px;

    padding-left: 39px;

    background: #20603B;
    border-radius: 6px;
    border: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;


    color: #FFFFFF;

    mix-blend-mode: normal;
  }


  .search-connection::placeholder {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .search-conn-icon {
    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: 9px;
    z-index: 100;
  }


  /* MENU-BOX */
  .menu-box {
    display: flex;

    .feedback {
      display: flex;
      width: 100%;
      align-items: center;
      cursor: pointer;
      height: 30px;
      padding: 10px;
      margin-right: 20px;

      .feedback-icon {
        margin-left: 10px;
        -webkit-animation:fontbulger 2s infinite;
        -moz-animation:fontbulger 2s infinite;
        -o-animation:fontbulger 2s infinite;
        animation:fontbulger 2s infinite;
      }

      .feedback-title {
        font-size: 16pt;
        margin-left: 25px;
        color: white;
        font-weight: bold;
      }
    }

    .feedback-title:hover {
      color: #e29f6a;
    }

    /* SETTINGS BUTTON */
    .settings-buttons {
      display: flex;

      /* EXPORT-BUTTON */
      #settings-button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 29px;
        height: 29px;

        margin-right: 25px;
      }

      #settings-button:hover {
        cursor: pointer;

      }
    }


    /* LOGOUT BUTTON */
    .logout-buttons {
      margin-right: 28px;
      width: 26px;
      height: 26px;
    }

    /* LOGOUT BUTTON */
    .logout-buttons:hover {
      cursor: pointer;
    }
  }
}

@-webkit-keyframes fontbulger  {
  0%, 100% {
    font-size:16px;
  }

  50% {
    font-size:21px;
  }

}

@-moz-keyframes fontbulger  {
  0%, 100% {
    font-size:16px;
  }

  50% {
    font-size:21px;
  }

}

@-o-keyframes fontbulger  {
  0%, 100% {
    font-size:16px;
  }

  50% {
    font-size:21px;
  }

}

@keyframes fontbulger  {
  0%, 100% {
    font-size:16px;
  }

  50% {
    font-size:21px;
  }

}