.menu-header {
    // Header

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    background: #252628;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    // LOGO: icon & title text

    .logo-box {
        margin-left: 30px;

        #l-icon {
            width: 40px;
            height: 45px;
        }

        #l-title {
            margin-left: 5px;
            font-weight: bold;
            color: white;
        }
    }

    // SHARING: select & export buttons

    .menu-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10px;
        padding-top: 7px;

        .sharing-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 30px;

            // Select button style & animation

            #import-button::-webkit-file-upload-button {
                visibility: hidden;
            }

            #import-button::before {
                content: 'Import';
                display: flex;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;
                padding-top: 7px;
            }

            #import-button {
                margin-right: 10px;
                width: 70px;
                height: 30px;
                display: flex;
                //font-family: "Scada";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;

                background: #EB6E3B;
                border-radius: 5px;
            }

            #import-button:hover
            {
                background: #c1562b;
            }

            // Export button style & animation

            #export-button {
                width: 70px;
                height: 30px;

                margin-right: 10px;
                display: flex;
                //font-family: "Scada";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;

                background: #EB6E3B;
                border-radius: 5px;
            }

            #export-button:hover
            {
                background: #c1562b;
            }
        }

        #open-tables {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        #open-connections {
            width: 30px;
            height: 30px;
        }
    }
}
