@import "./variables";

/* Dropdown Menu */
#dropdown {
    position: absolute;
}

.dropdown {
    z-index: 999;
    overflow: hidden;

    width: 96px;

    transform: translateX(30%) translateY(10%);;

    background-color: #FFFFFF;

    border: 0.2px solid #3a3a3a;
    border-radius: 5px;
}

.menu {
    width: 100%;
    height: max-content;
    padding: 10px;
}

.menu-item {
    height: 20px;
    border: 0.05px solid #3a3a3a;
    text-align: center;
}
.menu-item:hover {
    background-color: $hover-white;
}