@import "./variables";

/* Dropdown Menu */
#dropdown {
    position: absolute;
}

.dropdown {
    position: absolute;
    width: 215px;
    height: 185px;
    left: 34px;
    margin-top: 35px;


    background: #FFFFFF;
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.139232);
    border-radius: 4px;

    z-index: 999;
    padding-top: 23px;
    padding-left: 22.34px;





    .menu-item {
        width: 100%;
        height: 24px;
        margin-bottom: 15px;
        text-align: left;



        span {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #3E3E3E;
        }

    }

    .menu-item:hover {

        span {
            transition: .2s;
            color: #5BC470;
        }

    }

}
