@import "./variables";

.modalOverlay {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #000000A6;

  z-index: 1000;
}



.headerBig {
  display: flex;
  align-items: center;
  min-height: 59px;
  width: 850px;
  background: $sub-header;
  border-radius: 6px 6px 0 0;

}

.headerText {
  margin-left: 46px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.8;


}






.bigModalTitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-left: 46px;


  color: #3E3E3E;
}


.modalWindowBig {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;


  height: 722px;
  width: 850px;
  border-radius: 8px 8px 6px 6px;

  background: #FFFFFF;

  border: 0 solid;
}


















.headerSmall {
  display: flex;
  align-items: center;
  width: 661px;
  min-height: 59px;
  background: linear-gradient(180deg, #2A7E52 0%, #27774C 99.97%);
  border-radius: 6px 6px 0 0;
}





.modalWindowSmall {
  display: flex;
  flex-direction: column;
  margin: 90px auto 0;

  background: #FFFFFF;
  height: 620px;
  width: 660px;

  border-radius: 8px 8px 6px 6px;
}


.smallModalTitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-left: 46px;


  color: #3E3E3E;

}





.first-modal-hint span {
  position: absolute;
  left: 570px;
  top: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.8;

  width: 408px;

}

.modal-arrow {
  position: absolute;
  height: 70px;
  left: 510px;
  top: 15px;
}

.first-hint-cross {
  position: absolute;
  left: 1000px;
  top: 20px;
}

.first-hint-cross:hover {
  cursor: pointer;
}


.second-modal-hint span {
  position: absolute;
  top: 745px;
  left: 490px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.8;
}


.second-modal-arrow {
  position: absolute;
  height: 40px;
  left: 450px;
  top: 720px;
}

.second-hint-cross {
  position: absolute;
  left: 900px;
  top: 745px;
}

.second-hint-cross:hover {
  cursor: pointer;
}









.bigModalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 36px;



  #cancelBtn {
    height: 42px;
    width: 104px;



    border: 2px solid #D3D3D3;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: rgba(139, 139, 139, 0.836589);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    letter-spacing: -0.11px;
    margin-right: 25px;
  }

  #subBtn {
    height: 42px;
    width: 108px;




    background: #28794E;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    letter-spacing: -0.11px;

    color: #FFFFFF;
    margin-right: 42px;
  }



}


.smallModalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;



  #cancelBtn {
    height: 42px;
    width: 104px;



    border: 2px solid #D3D3D3;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: rgba(139, 139, 139, 0.836589);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    letter-spacing: -0.11px;
    margin-right: 25px;
  }

  #subBtn {
    height: 42px;
    width: 108px;




    background: #28794E;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    letter-spacing: -0.11px;

    color: #FFFFFF;
    margin-right: 42px;
  }
}






















#delete-icon {
  margin-left: auto;
  margin-right: 35px;
  margin-top: 34px;
  width: 21.99px;
  height: 21.99px;
  cursor: pointer;
}

#cancelBtn {
  font-size: 14px;
  font-family: 'Scada', sans-serif;
  text-transform: none;

  border-radius: 5px;
  border: 0.5px solid;
}

#subBtn {
  font-size: 14px;
  font-family: 'Scada', sans-serif;
  text-transform: none;

  color: white;
  background-color: #2d9d73;

  border-radius: 5px;
  border: 0 solid;
}

#simplified-connection-btn {
  font-size: 14px;
  font-family: 'Scada', sans-serif;
  text-transform: none;

  color: white;
  background-color: #2d9d73;

  border-radius: 5px;
  border: 0 solid;
}

#configure-manually-btn {
  margin-top: 10px;

  font-size: 14px;
  font-family: 'Scada', sans-serif;
  text-transform: none;

  color: white;
  background-color: #2d9d73;

  border-radius: 5px;
  border: 0 solid;
}

.information-field {
  margin-bottom: 10px;
}

.choose-db-field {
  margin-bottom: 20px;
}