.result-table {
  margin: 20px;
}

.page {
  height: 100vh;
  font-family: 'Scada', sans-serif;
}

#right-side {

  display: grid;
  grid-template-areas:
            "menu"
            "table";
  grid-template-rows: 50px auto;
}

#left-menu {
  font-family: 'Scada', sans-serif;

  width: 300px;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;

  background: #EFEFEF;
}

.loading {
  width: 100%;
  height: 85vh;
  display: grid;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
}

.save {
  button {
    width: 90px;
    height: 30px;
    margin-right: 10px;
    margin-left: 170px;

    background-color: #EB6E3B;
    color: white;
    font-size: 14px;

    border: 0 solid #EB6E3B;
    border-radius: 5px;
  }
}



.line {
  width: 1px;
  height: 100%;
  margin-left: 300px;

  background-color: #818181;

  position: absolute;

  filter: blur(1px);

}


table {
  margin: 10px;
  grid-area: table;

  color: white;
  border-collapse: separate;
  background: transparent;
  border-spacing: 7px 11px;
}

td, th {
  background: dimgrey;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 20px 0;
}

tr th {
  font-size: 16px;
  font-family: 'Scada', sans-serif;
  background: #252628;
  color: white;
}


.column_one td {
  background: #EFEFEF;
  border: 1px solid gray;
}

.column_two td {
  background: #EFEFEF;
  border: 1px solid gray;
}

.pagination_page {
}

.pagination_page span {
  color: black;
  margin: 0 25px;
  align-self: center;
}

.pagination_page button {
  width: 70px;
  height: 30px;

  background-color: #EB6E3B;
  color: white;
  font-size: 14px;

  border: 0 solid #EB6E3B;
  border-radius: 5px;
}

.menu_table {
  grid-area: menu;

  border-bottom: .5px solid #EBEBEB;

  background-color: #F9F9F9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_table .search {
  justify-self: end;
  grid-gap: 10px;
}

#search-btn {
  margin-right: 170px;
  width: 80px;
  height: 30px;
}

.menu_table select {
  height: 30px;
  width: 130px;

  margin-left: 10px;
  margin-right: 20px;

  border-radius: 5px;
  border: 1px solid #adadad;
}

.menu_table .search input {
  padding: 0 10px;
  border: 1px solid #adadad;
  border-radius: 5px;
  width: 210px;
  height: 30px;

  margin-right: 20px;
}
