@import "./variables";

/* ALL PAGE */
.result {
  display: grid;
  grid-template-areas:
            "menu"
            "table"
            "pages";
  grid-template-rows: 50px auto 50px;

  height: calc(100vh - 50px);

  font-family: 'Scada', sans-serif;


  /* SCROLL */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #BFBEBE;
  }

  ::-webkit-scrollbar-thumb {
    background: #4A4A4A;
  }
}

/* LOADING */
.loading {
  display: grid;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;

  width: 100%;
  height: 85vh;

  font-size: 20px;
  font-weight: 900;
}

/* RIGHT SIDE - TOP MENU */
.result-menu {
  grid-area: menu;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: #F9F9F9;

  border-bottom: .5px solid #EBEBEB;


  /* SAVE BTN */
  .save {
    button {
      width: 140px;
      height: 30px;

      margin-right: 30px;

      font-size: 14px;

      background-color: white;
      color: #3E3E3E;

      border: 1px solid #3E3E3E;
      border-radius: 5px;

      transition: 0.2s;
    }
  }

  .save:hover {
    button {
      cursor: pointer;

      background-color: #3E3E3E;
      color: white;
    }
  }
}

.result-table {
  grid-area: table;

  overflow: auto;

  .header {
    display: flex;
    flex-direction: column;

    .header-data-ordering {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #header-title {
        font-size: 20px;

        color: $white;
      }

      .header-options {
        display: flex;

        #header-order {
          margin-top: 5px;
          margin-left: 5px;
        }

        #header-filter {
          width: 15px;
          height: 12px;

          margin-left: 10px;
        }

        #header-calendar {
          width: 15px;
          height: 12px;

          margin-left: 10px;
        }

        #header-calendar:hover {
          cursor: pointer;
        }
      }
    }

    .header-data-operations {
      display: flex;
      flex-direction: column;

      #header-search {
        min-width: 240px;
        height: 30px;

        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        font-size: 14px;

        border: 0 solid;
        border-radius: 5px;
      }


      .header-filters {
        display: flex;
        flex-direction: column;

        input {
          width: 110px;
          height: 30px;

          margin-top: 10px;
          margin-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;

          font-size: 14px;

          border: 0 solid;
          border-radius: 5px;
        }

        #header-filters-inputs {
          display: flex;
          justify-content: space-between;

          min-width: 240px;
        }

        #clear-filters-btn {
          margin-top: 5px;
          color: $white;
          border: 1px solid;
          border-radius: 5px;
          padding: 3px 5px;
          transition: 0.2s;
        }

        #clear-filters-btn:hover {
          color: $orange;
          border: 1px solid;
          border-radius: 5px;
          cursor: pointer;
        }
      }

    }
  }
}

// Order arrow
.arrow-up {
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $white;
}

.arrow-down {
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $white;
}


/* TABLE */

table {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 1px;

  font-family: 'Scada', sans-serif;

  color: white;
  background: transparent;

  border-collapse: collapse;
}

th {
  padding: 10px 20px;

  font-family: 'Scada', sans-serif;

  background: dimgrey;

  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

td {
  padding: 14px 10px;

  font-family: 'Scada', sans-serif;

  background: dimgrey;

  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

tr th {
  font-size: 16px;
  font-family: 'Scada', sans-serif;

  background: #252628;
  color: white;
}

.column_one td {
  background: #EFEFEF;

  border: 1px solid gray;
}

.column_two td {
  background: #EFEFEF;

  border: 1px solid gray;
}

/* CHOOSE PAGE */
#pages-field {
  grid-area: pages;

  #select-page {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 230px;

    margin: 10px auto 10px;


    /* PAGE NUMBER */
    span {
      color: #3E3E3E;
    }

    /* PAGE BTN */
    #select-page-btn {
      width: 70px;
      height: 30px;

      font-family: 'Scada', sans-serif;
      font-size: 14px;

      background-color: white;
      color: #3E3E3E;

      border-radius: 5px;
      border: 1px solid #3E3E3E;

      transition: 0.2s;
    }

    #select-page-btn:hover {
      background-color: #3E3E3E;
      color: white;
    }

    #select-page-btn:disabled {
      background-color: white;
      color: #8A8A8A;

      border: 1px solid #8A8A8A;
    }
  }
}


/*
@media (max-height: 765px) {

  #result-tables {
    grid-area: table;

    overflow: auto;
    max-height: 600px;

  }

}

@media (max-height: 700px) {

  #result-tables {
    grid-area: table;

    overflow: auto;
    max-height: 560px;

  }

}

@media (max-height: 660px) {

  #result-tables {
    grid-area: table;

    overflow: auto;
    max-height: 500px;

  }

}

@media (max-height: 600px) {

  #result-tables {
    grid-area: table;

    overflow: auto;
    max-height: 440px;

  }

}

@media (max-height: 540px) {

  #result-tables {
    grid-area: table;

    overflow: auto;
    max-height: 380px;

  }

}

@media (max-height: 480px) {

  #result-tables {
    grid-area: table;

    overflow: auto;
    max-height: 320px;

  }

}

*/

@media (max-width: 900px) {

  .result-table {
    grid-area: table;

    overflow: auto;
    width: 590px;

  }

}

@media (max-width: 890px) {

  .result-table {
    grid-area: table;

    overflow: auto;
    width: 560px;

  }

}

@media (max-width: 875px) {

  .result-table {
    grid-area: table;

    overflow: auto;
    width: 530px;

  }

}


@media (max-width: 830px) {
  .result-table {
    grid-area: table;
    overflow: auto;
    width: 525px;
  }
}

@media (max-width: 825px) {
  .result-table {
    grid-area: table;
    overflow: auto;
    width: 520px;
  }
}

@media (max-width: 820px) {
  .result-table {
    grid-area: table;
    overflow: auto;
    width: 490px;
  }
}

@media (max-width: 780px) {
  .result-table {
    grid-area: table;
    overflow: auto;
    width: 450px;
  }
}


@media (max-width: 1120px) {
  .menu_table {

    #sorting-and-search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;

      select {
        height: 30px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid #adadad;
      }


    }

    #select-page {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 210px;

      span {
        color: #3E3E3E;
      }

      #select-page-btn {
        width: 60px;
        height: 30px;
        background-color: #EB6E3B;
        color: white;
        font-family: 'Scada', sans-serif;
        font-size: 14px;
        border-radius: 5px;
        border: 0 solid;
      }

      .save {
        button {
          width: 70px;
          height: 30px;
          margin-right: 10px;
          background-color: #EB6E3B;
          color: white;
          font-size: 14px;
          border: 0 solid #EB6E3B;
          border-radius: 5px;
        }
      }
    }
  }
}


