@import "./variables";

.all-page-tables {
  display: grid;
  grid-template-areas: "left line right";
  grid-template-columns: 300px 1px auto;

  padding: 0 !important;
  margin: 0 !important;


  /* LEFT SIDE */
  .left-side {
    grid-area: left;

    display: grid;
    grid-template-areas:
            "miniMenu"
            "queries"
            "lineUp"
            "tables"
            "addBtn";
    grid-template-rows: 50px 50px 1px auto 55px;

    width: 300px;
    height: calc(100vh - 50px);

    font-family: 'Scada', sans-serif;

    background: #EFEFEF;

    #mini-menu {
      grid-area: miniMenu;

      display: flex;
      align-items: center;

      height: 50px;

      font-family: 'Scada', sans-serif;

      background-color: #E3E3E3;

      border-bottom: .1px solid #9d9d9d;

      .search {
        display: flex;
        align-items: center;

        #search-field {
          width: 190px;
          height: 30px;

          // margin-left: 150px;
          padding-left: 10px;
          padding-right: 10px;
          margin-left: 20px;

          font-size: 14px;
          font-family: 'Scada', sans-serif;

          border: .4px solid #818181;
          border-radius: 5px;
        }
      }

      /* SEARCH BUTTON */
      .search-button {
        width: 60px;
        height: 30px;

        margin-left: 10px;

        font-family: 'Scada', sans-serif;
        font-size: 14px;

        color: white;
        background-color: #007FFF;

        box-sizing: border-box;
        border-radius: 5px;
        border: 0 solid;

        transition: 0.2s;
      }

      .search-button:hover {
        cursor: pointer;

        background-color: #0066CD;
      }
    }

    #list {
      grid-area: queries;

      display: flex;
      align-items: center;

      margin: 0 auto;

      font-family: 'Scada', sans-serif;
      font-size: 20px;

      color: #3E3E3E;
    }

    #lineUp {
      grid-area: lineUp;

      height: 1px;
      width: 280px;

      margin: 0 auto;

      background-color: #ABABAB;
    }

    /* TABLES */
    #tables {
      grid-area: tables;
      overflow: scroll;

      margin-top: 10px;

      font-family: 'Scada', sans-serif;

      .table {
        width: 260px;

        margin-left: 20px;
        margin-bottom: 10px;

        .container {
          display: flex;
          justify-content: space-between;

          padding-left: 5px;
          padding-right: 0px;

          border-bottom: .2px solid #adadad;

          #table-name {
            display: flex;

            width: 200px;

            #name {
              margin-left: 15px;
              margin-bottom: 10px;

              font-size: 14px;

              color: #3E3E3E;

              #folder-n, p {
                margin: 0;
                padding: 0;

                font-size: 14px;
              }
            }
          }

          #table-name:hover {
            cursor: pointer;
          }

          #table_menu {
            height: 23px;
            width: 23px;

            margin-right: 0px;
          }

          #table_menu:hover {
            cursor: pointer;
          }
        }
      }
    }

    /* ADD BUTTON */
    #add-btn-field {
      grid-area: addBtn;

      .add-button {
        width: 40px;
        height: 40px;

        margin: 0 auto 10px;
      }

      .add-button:hover {
        cursor: pointer;
      }
    }
  }

  /* VERTICAL LINE */
  .line-tables-page {
    grid-area: line;

    width: 1px;
    height: calc(100vh - 50px);

    background-color: #818181;
    filter: blur(1px);
  }

  /* RIGHT SIDE */
  .right-side-tables-page {
    grid-area: right;
    // height: calc(100vh - 50px);
  }
}

/*
@media (max-height: 750px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;

    font-family: 'Scada', sans-serif;
  }
}

@media (max-height: 690px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;
    height: 540px;

    font-family: 'Scada', sans-serif;
  }
}

@media (max-height: 640px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;
    height: 500px;

    font-family: 'Scada', sans-serif;
  }
}

@media (max-height: 600px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;
    height: 460px;

    font-family: 'Scada', sans-serif;
  }
}

@media (max-height: 560px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;
    height: 420px;

    font-family: 'Scada', sans-serif;
  }
}

@media (max-height: 520px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;
    height: 380px;

    font-family: 'Scada', sans-serif;
  }
}

@media (max-height: 480px) {

  #tables {
    margin-top: 20px;
    overflow: scroll;
    height: 340px;

    font-family: 'Scada', sans-serif;
  }
}

*/

// .add-btn{
//   background: #d99900!important;
// }

// .add-btn:hover{
//   background: #45597E!important;
//   transition: 0.5s;
// }

// .svg_icon:hover{
//     transform: rotate(180deg) scale(1.1)!important;

//     transition: 0.25s;
// }

// .tables {
//   margin-top: 60px;

//   .folders-list {
//       display: flex;
//       flex-direction: row;
//       padding-bottom: 35px;
//       flex-wrap: wrap;
//       align-items: center;
//       justify-content: center;
//       width: 100%;
//       max-height: 100vh;
//       overflow: auto;
//   }

//   .folder {
//       user-select: none;

//       &__title {
//            display: flex;
//            width: 130px;
//            flex-direction: row;
//            justify-content: center;
//            color: $folder-title;
//            font-size: 11px;
//       }

//         &__menu {
//             display: flex;
//             flex-direction: column;
//             min-width: 150px;
//             color: $black;
//             background-color: $white;
//             border-radius: 3px;

//             box-shadow: 0px 0px 1px 0px black;

//             &__line {
//                 display: block;
//                 width: 100%;
//                 height: 1px;
//                 background: $context-menu-line;
//             }

//             &__title {
//                 display: flex;
//                 flex-direction: row;
//                 justify-content: start;
//                 margin-left: 5px;
//                 font-weight: 500;
//             }

//             &__item {
//                 display: flex;
//                 flex-direction: row;
//                 justify-content: start;
//                 padding-left: 5px;
//                 user-select: none;
//             }

//             &__item:hover {
//                 background: $hover;
//             }
//       }

//       i {
//           display: flex;
//           width: 130px;
//           flex-direction: row;
//           justify-content: center;
//           font-size: 60px;
//           color: $folder;
//       }

//       .create-folder:hover {
//           color: $create;
//           transform: scale(1.2);
//           transition-duration: 0.8s;
//       }

//       .react-contextmenu-wrapper svg:hover {
//           color: $open!important;
//           transform: scale(1.1) !important;
//           transition-duration: 0.8s!important;
//       }

//       &__line {
//            display: block;
//            width: 100%;
//            height: 1px;
//            background: $context-menu-line;
//        }
//   }
// }

