$navbar: #45597E;
$blick: #2196F3;
$databases-bg-color: #C4C4C4;
$cancel-btn: #CC3C3C;
$hover: rgb(240, 240, 240);
$black: #000000;
$white: #FFFFFF;
$url-line: #C0C0C0;
$context-menu-line: #363740;
$title: #363740;
$tabs: #E3B78B;
$selected-tab: #45597E;

$green: #4CAF50;
$red: #f4511e;

// Common
$create: #53c3c3;
$open: #53c3c3;

// Folders
$folder-title: #363740;
$folder: #1fdddd;

// Sizes
$checkbox-width: 18px;
