$black: #242424;
$white: #FFFFFF;
$orange: #e77b00;
$blue: #007FFF;
$border-color: #9d9d9d;

$menu: #F9F9F9;
$menu-shadow: #EBEBEB;

$row-white: #F9F9F9;
$row-dark: #EBEBEB;

$hover-row-white: #e1e1e1;
$hover-row-dark: #e1e1e1;
$hover-white: #d4d4d4;
$hover-blue: #0066CD;
$hover-orange: #d87000;