$orange: #e77b00;
$blue: #007FFF;
$border-color: #9d9d9d;

$menu: #F9F9F9;
$menu-shadow: #EBEBEB;

$row-white: #F9F9F9;
$row-dark: #EBEBEB;

$hover-row-white: #e1e1e1;
$hover-row-dark: #e1e1e1;
$hover-white: #d4d4d4;
$hover-blue: #0066CD;
$hover-orange: #d87000;

// buttons
$button-text-color: #fff;
$button-background-color: #48b54e;
$button-hover-background-color: #4CAF50;
$button-active-background-color: #4ba84f;

// table
$table-hover-color: #ddd;
$table-border-color: #ddd;
$table-second-row-color: #f2f2f2;

// borders
$border-color: #282c34;

// boxes
$box-text-color: #282c34;
$box-background-color: #fff;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

// menu
$menu-color: #4CAF50;

// common
$white: #fff;
$green: #4CAF50;
$gray: #c7c7c7;
$white-gray: #f2f2f2;
$red: #e32c2c;
$white-red: #c44a4a;
$yellow: #e1c049;
$green-white: #48b54e;
$black: #282c34;